.rule-row {
  position: relative;
  padding: 0 2.8rem 0.4rem 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2rem;

  &:hover .rule-remove-btn {
    opacity: 1;
  }
}

.rule-fields-selector {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  flex-basis: 100%;
}

.rule-fields-tooltip-wrapper {
  display: inline-flex;
}

.rule-fields-label {
  font-weight: 600;
  white-space: nowrap;
  color: var(--pneumatic-color-black72);

  @mixin text-base;
}

.rule-fields-select {
  flex: 1;
  min-width: 0;

  [aria-disabled='true'] [class*='clear-button'],
  [class*='clear-button'][aria-disabled='true'] {
    display: none;
  }

  [class*='active-value'] {
    font-weight: bold;
    color: var(--pneumatic-color-black88);
    opacity: 1;
  }

  [class*='filter-select_disabled'] {
    opacity: 1;
  }
}

.rule-type-label {
  min-width: 10rem;
  font-weight: 600;

  @mixin text-base;
}

.rule-field-select {
  width: 18rem;
  flex-shrink: 0;
}

.rule-field-tooltip {
  padding: 0.4rem 0.8rem;
  text-align: center;
}

.rule-select-placeholder {
  color: var(--pneumatic-color-black32);
}

.rule-operator-select {
  width: 12rem;
  flex-shrink: 0;
}

.rule-value-input,
.ruleset-message-input {
  padding: 0.8rem 1.2rem;
  border: 0.1rem solid var(--pneumatic-color-black16);
  border-radius: 0.8rem;
  outline: none;
  transition: border-color 0.2s;

  @mixin text-base;

  &:focus {
    border-color: var(--pneumatic-color-blue);
  }
  &:disabled {
    cursor: default;
    color: var(--pneumatic-color-black72);
    background-color: var(--pneumatic-color-black4);
    border: 0.1rem solid transparent;
    opacity: 1;
  }
}

.rule-value-input {
  flex: 1;
}

.rule-value-select {
  flex: 1;
  width: 100%;
  min-width: 0;

  [class*='react-datepicker__input-container'] input {
    background-color: var(--pneumatic-color-white) !important; /* stylelint-disable-line declaration-no-important */
  }
}

.rule-value-select-inner {
  width: 100%;
}

.ruleset-message-input {
  width: 100%;
}

.rule-remove-btn {
  position: absolute;
  top: 1rem;
  right: 0;
  padding: 0;
  cursor: pointer;
  color: var(--pneumatic-color-notification1);
  background: transparent;
  border: 0;
  opacity: 0;
  transition: opacity 0.15s;

  &:focus-visible {
    opacity: 1;
  }

  @media (hover: none) {
    opacity: 1;
  }
}

.rule-item__combinator {
  margin: 0.4rem 0 0.8rem;
  width: 10rem;
}

.select-rule-combinator {
  display: inline-block;
  background: var(--pneumatic-color-black4);
}

.select-toggle {
  width: auto;
  font-weight: normal;
  text-transform: uppercase;
}

.add-rule-btn {
  padding: 0;
  display: block;
  font-size: 1.3rem;
  line-height: 1.6rem;
  cursor: pointer;
  color: var(--pneumatic-color-link-dark);
  background: none;
  border: none;
  transition: 0.1s ease-in-out all;

  &:hover {
    color: var(--pneumatic-color-link-hover);
  }

  &:active {
    transform: scale(0.98);
  }
}

.ruleset-card {
  position: relative;
  margin-bottom: 1.6rem;
  padding: 1.6rem;
  background-color: var(--pneumatic-color-white);
  border: 0.1rem solid var(--pneumatic-color-black16);
  border-radius: 1.2rem;
}

.ruleset-card__footer {
  margin-top: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ruleset-card__delete-btn {
  padding: 0.6rem 1.2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  cursor: pointer;
  color: var(--pneumatic-color-black72);
  background: transparent;
  border: 0.1rem solid var(--pneumatic-color-black16);
  border-radius: 0.8rem;
  transition: all 0.2s ease;

  @mixin text-base;

  &:hover {
    color: var(--pneumatic-color-black);
    background-color: var(--pneumatic-color-black4);
    border-color: var(--pneumatic-color-black32);
  }

  &:active {
    transform: scale(0.98);
  }
}

.ruleset-card__field {
  margin-bottom: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.ruleset-card__label {
  margin: 1.2rem 0 0.4rem;
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: var(--pneumatic-color-black48);

  &:first-of-type {
    margin-top: 0;
  }
}

.field-tags-list {
  margin-top: 0.8rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
}

.field-tag {
  padding: 0.4rem 0.8rem;
  display: inline-flex;
  align-items: center;
  background-color: var(--pneumatic-color-black4);
  border-radius: 1.6rem;

  @mixin text-small;
}

.field-tag__name {
  margin: 0;
}

.field-tag__close {
  margin-left: 0.4rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--pneumatic-color-black16);
  transition: color 0.1s ease;

  &:hover {
    color: var(--pneumatic-color-link-hover);
  }
}

.add-ruleset-btn {
  margin-top: 1.6rem;
  padding: 0.8rem 1.6rem;
  font-weight: 600;
  cursor: pointer;
  color: var(--pneumatic-color-blue);
  background: none;
  border: 0.1rem dashed var(--pneumatic-color-black16);
  border-radius: 0.8rem;
  transition: all 0.2s;

  @mixin text-base;

  &:hover:not(:disabled) {
    background-color: var(--pneumatic-color-blue-light);
    border-color: var(--pneumatic-color-blue);
  }

  &:disabled {
    cursor: default;
    color: var(--pneumatic-color-black32);
    border-color: var(--pneumatic-color-black16);
    opacity: 0.55;
  }
}
