.comment-attachments {
  position: relative;
  display: flex;
  flex-flow: column;
  width: 100%;
  margin-top: 1.6rem;
}

.comment-attachments_loading {
  pointer-events: none;
  opacity: 0.5;
}

.comment-attachments__images-list {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: -0.4rem;
  margin-bottom: 1.6rem;
}

.images-list__image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 8rem;
  margin: 0.4rem;
  background: var(--pneumatic-color-white);
  border-radius: 0.8rem;
}

.images-list__image-container:last-child {
  margin-right: 0;
}

.images-list__image-container_loading {
  pointer-events: none;
  opacity: 0.5;
}

.image__link {
  all: unset;
  width: 8rem;
  height: 8rem;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.8rem;
}

.image__delete-button {
  all: unset;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  color: var(--pneumatic-color-black88);
  cursor: pointer;
  transition: 0.1s ease-in-out fill;

  &:hover {
    color: var(--pneumatic-color-link-hover);
  }
}

.comment-attachments__documents-list {
  display: flex;
  flex-flow: column;
  gap: 0.8rem;
  width: 100%;
  min-width: 0;
}

.documents-list__document-container {
  display: flex;
  align-items: center;
  min-width: 0;
  max-width: 100%;
}

.documents-list__document-container:last-child {
  margin-bottom: 0;
}

.documents-list__document-container_loading {
  pointer-events: none;
  opacity: 0.5;
}

.document {
  display: flex;
  flex: 1;
  min-width: 0;
  margin-right: 1rem;
  overflow: hidden;
  color: var(--pneumatic-color-link-dark);
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}

.document_not-clickable {
  pointer-events: none;
  cursor: default;
}

.document:hover {
  color: var(--pneumatic-color-link-hover);
}

.document__filename {
  flex: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  white-space: nowrap;
  direction: rtl;
}

.document__filename-text {
  font-family: Nunito, sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  direction: ltr;
  unicode-bidi: embed;
}

.document .document__icon {
  flex-shrink: 0;
  margin-right: 0.8rem;
}

.document__delete-button {
  all: unset;
  display: flex;
  flex-shrink: 0;
  color: var(--pneumatic-color-black88);
  cursor: pointer;
  transition: 0.1s ease-in-out fill;

  &:hover {
    color: var(--pneumatic-color-link-hover);
  }
}
