.group {
  padding: 3.2rem;
  background-color: white;
  border-radius: 3.2rem;
  transition: box-shadow 0.2s ease-in-out;

  @media (--desktop) {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  &:hover {
    box-shadow: 0 8px 24px rgb(98 98 95 / 8%);
  }

  figure {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    margin-bottom: 1.6rem;
    color: #62625f;

    @media (--desktop) {
      width: 4rem;
      margin: 0;
      margin-right: 1.6rem;
    }

    > img {
      width: 4rem;
      max-width: 4rem;
      height: 4rem;
      max-height: 4rem;
    }
  }

  &__info {
    @media (--desktop) {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: space-between;
      margin-right: 3.2rem;
    }
  }

  h2 {
    @mixin text-overflow;

    margin-bottom: 0;
    font-weight: 800;
  }

  &__users {
    @mixin text-small;

    margin: 0;
    color: #979795;

    span {
      font-weight: bold;
    }
  }

  &__name {
    margin-right: 3.2rem;
  }

  &__stat {
    min-width: 10.8rem;

    @media (--mobile) {
      margin-top: 1.6rem;
    }
  }

  &__more {
    color: #b9b9b8;

    &.is-active {
      color: #e79a26;
    }
  }
}
