.rule {
  display: flex;
  margin-top: 8px;

  @media (--mobile) {
    flex-direction: column;
  }
}

.rule-preposition {
  width: 166px;
  margin-right: 8px;

  @media (--mobile) {
    width: 100%;
    margin-bottom: 8px;
  }
}

.rule-target {
  flex-grow: 1;
}
