/* stylelint-disable declaration-no-important */
.webhook + .webhook {
  margin-top: 16px;
}

.webhook-title {
  margin-bottom: 16px;
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
}

.webhook-container {
  display: flex;

  @media (--mobile) {
    flex-direction: column;
  }
}

.webhooks-button {
  align-self: flex-start;
  padding: 10px 24px !important;
  margin: 0 0 0 8px;
  font-size: 15px !important;
  font-weight: bold;
  line-height: 20px;
  white-space: nowrap;

  @media (--mobile) {
    width: 100%;
    margin: 8px 0 0;
  }
}
