# Environment
ENVIRONMENT=Production
LANGUAGE_CODE=en # Allowed langs: en, fr, de, es, ru
CAPTCHA=no   # Disable using captcha in forms
ANALYTICS=no # Disable any analytics integrations
BILLING=no   # Disable stripe integration
SIGNUP=yes   # Disable signup page
MS_AUTH=no   # Disable Microsoft auth
GOOGLE_AUTH=no # Disable Google auth
SSO_AUTH=no   # Disable SSO Auth0 auth
EMAIL=yes      # Disable send emails
EMAIL_PROVIDER=
AI=no         # Disable AI template generation
AI_PROVIDER=
PUSH=no       # Disable push notifications
PUSH_PROVIDER=
STORAGE=no    # Disable file storage
STORAGE_PROVIDER=
SSL=no        # Disable using https

# PostgreSQL
PGDATA=var/lib/postgresql/data
POSTGRES_HOST=postgres
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=postgres_db
POSTGRES_REPLICA_HOST=postgres
POSTGRES_REPLICA_USER=postgres_user
POSTGRES_REPLICA_PASSWORD=postgres_password
POSTGRES_REPLICA_DB=postgres_db

# Redis
REDIS_PASSWORD=redis_password

# RabbitMQ
RABBITMQ_USER=rabbitmq_user
RABBITMQ_PASSWORD=rabbitmq_password

# Django
DJANGO_DEBUG=no
DJANGO_SECRET_KEY=django_secret_django_secret_django_secret
DJANGO_SETTINGS_MODULE=pneumatic_backend.settings
AUTH_REDIS_URL=redis://:redis_password@redis:6379/1
CACHE_REDIS_URL=redis://:redis_password@redis:6379/0
CHANNELS_REDIS_URL=redis://:redis_password@redis:6379/2
SESSION_REDIS_URL=redis://:redis_password@redis:6379/3
CELERY_BROKER_URL=amqp://rabbitmq_user:rabbitmq_password@rabbitmq:5672
ALLOWED_HOSTS=localhost 127.0.0.1 pneumatic-nginx
FRONTEND_URL=http://localhost
PUBLIC_FORMS_ORIGIN=http://localhost:8002
VERIFICATION_CHECK=no     # account verification email
CORS_ORIGIN_ALLOW_ALL=no
CORS_ALLOW_CREDENTIALS=yes
CORS_ORIGIN_WHITELIST=http://localhost:8002 http://localhost

# Frontend
MCS_RUN_ENV=prod
NODE_OPTIONS=--max-old-space-size=3072
FRONTEND_URL=http://localhost
FORM_DOMAIN=localhost:8002
BACKEND_PRIVATE_URL=http://pneumatic-nginx/
BACKEND_URL=http://localhost:8001/
WSS_URL=ws://localhost:8001/
BILLING=yes
CAPTCHA=no
SIGNUP=yes
SSO_AUTH=no
GOOGLE_AUTH=no
ANALYTICS=no
MS_AUTH=no
SENTRY_DSN=
