.container {
  position: relative;
  height: 100%;
}

.integraions-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.integraion-card {
  width: calc(50% - 32px);
  margin: 0 16px 32px;

  @media (width <= 992px) {
    width: calc(100% - 32px);
  }

  @media (--mobile) {
    width: calc(50% - 32px);
  }

  @media (width <= 480px) {
    width: calc(100% - 32px);
  }
}
