@keyframes slide-in-from-top {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.container {
  position: fixed;
  top: 32px;
  right: 32px;
  left: 104px;
  z-index: 1030;
  display: flex;
  justify-content: center;
  padding: 8px 0;
  font-size: 15px;
  line-height: 20px;
  pointer-events: none;

  &.container__with-paywall {
    top: 56px;
  }

  @media (--mobile) {
    top: 0;
    right: 0;
    left: 0;
    background: rgb(246 246 246 / 72%);
    animation: slide-in-from-top var(--menu-collapse-time) ease-out;

    &.container__with-paywall {
      top: 0;
    }
  }
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.icon {
  margin-right: 8px;
}

.success {
  color: #24d5a1;
}

.failed {
  color: #fc5b67;
}

.retry {
  margin-left: 5px;
  color: var(--pneumatic-color-link);
  pointer-events: auto;
  cursor: pointer;
  transition: color 0.1s ease-in-out;

  &:hover {
    color: var(--pneumatic-color-link-hover);
  }
}
