.container {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1.4rem 0;
  border-bottom: 1px solid var(--pneumatic-color-black16);
}

.value {
  flex: 1;

  @mixin text-base;
  @mixin text-truncate;
}

.input {
  flex: 1;
  padding: 0;
  outline: none;
  background: transparent;
  border: none;

  @mixin text-base;
}

.error-text {
  position: absolute;
  bottom: 0.2rem;
  left: 0;
  margin: 0;
  font-size: 1.1rem;
  line-height: 1.4rem;
  color: var(--pneumatic-color-warning);
}

.actions {
  display: flex;
  flex-shrink: 0;
  gap: 0.4rem;
  align-items: center;
  margin-left: 0.8rem;
}

.action-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.4rem;
  height: 2.4rem;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 0.4rem;
  transition: opacity 0.15s;

  &:hover {
    opacity: 0.7;
  }
}

.more-icon {
  color: var(--pneumatic-color-black32);
  cursor: pointer;
  transition: color 0.1s ease-in-out;

  &:hover {
    color: var(--pneumatic-color-link-hover);
  }
}
