/* stylelint-disable selector-pseudo-class-no-unknown */
:global {
  body {
    padding: 0 16px;
    margin: 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  min-height: 100%;
  padding-bottom: 32px;
  margin: 0 auto;

  @media (--mobile) {
    max-width: 100%;
    margin: 0 32px;
  }
}
