.show_more {
  all: unset;
  display: flex;
  cursor: pointer;
  user-select: none;
  align-items: center;
}

.show_more__toggle-text {
  font-family: Nunito, sans-serif;
  font-size: 1.1rem;
  font-weight: 800;
  line-height: 1.6rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--pneumatic-color-black100);
}

.show_more-icon-wrapper {
  margin: 0 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.6rem;
  height: 1.6rem;
  color: var(--pneumatic-color-black32);
  transition: transform 0.3s;
}

.show_more-icon {
  flex-shrink: 0;
}

.container--visible {
  .show_more-icon-wrapper {
    transform: rotate(180deg);
  }

  .content {
    overflow: visible;
    max-height: none;
  }
}

.content {
  margin-top: 1.6rem;
  overflow: hidden;
  max-height: 0;
}

.show_more__button-wrapper {
  padding-right: 4rem;
  display: flex;
  justify-content: space-between;
}

.show_more__right-vidgets {
  div {
    margin: 0;
  }
}

.show_more--disabled {
  cursor: default;
  color: var(--pneumatic-color-black32);
}
