.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f6f6f6;
  opacity: 0.72;
}

.loader {
  max-width: 8em;
  background: #f6f6f6;
  border-radius: 3px;
  fill: none;
  stroke: var(--pneumatic-color-beige);
  stroke-width: 8%;
  stroke-linecap: round;

  use {
    stroke: var(--pneumatic-color-link);
    animation: a 1s linear infinite;
  }
}

@keyframes a {
  to {
    stroke-dashoffset: 0;
  }
}
