/node_modules/
/artifacts/
dist/
/storybook-static/
/public/
.vscode
.idea
.DS_Store
logs
config/how
*storybook.log
.env
.cursor

# Playwright
tests/e2e/.auth/
test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.blob/
docs/