.card-users {
  display: flex;
  align-items: center;
}

.card-user {
  margin-left: -4px;
  display: flex;

  &:first-child {
    margin-left: 0;
  }
}

.card-users__more {
  margin-left: 8px;
  font-size: 13px;
  line-height: 16px;
  color: #979795;
}
