.idea
.env
postgres
redis
rabbitmq
nginx/logs
nginx/keys
nginx/config/nginx.conf
firebase-push.json

# Playwright / E2E
frontend/e2e
frontend/playwright-report
frontend/test-results

.vscode/
.cursor/
.cursorrules/
.agents/
.agent/
.agents/
.antigravity/


