.comment-field {
  position: relative;
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  align-items: center;
}

.comment-field__workarea {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  @media (--mobile) {
    max-width: 100%;
  }
}

.comment-field__avatar-container {
  margin-right: 1.6rem;
  align-self: flex-start;
  flex-shrink: 0;

  @media (--mobile) {
    display: none;
  }
}

.comment-field__avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;

  @media (--mobile) {
    width: 3.2rem;
    height: 3.2rem;
  }
}

.comment-field__icon {
  margin-top: 1rem;
  align-self: flex-start;
  cursor: pointer;
  transition: 0.1s ease-in-out fill;
  transform: scale(0.67);
}

.comment-field__icon_disabled {
  cursor: none;
  pointer-events: none;
  fill: var(--pneumatic-color-black72);
}

.editor {
  min-height: 12.5rem;
}
