/*
  stylelint-disable selector-max-specificity, declaration-no-important, selector-max-compound-selectors,
  max-nesting-depth
*/
.container {
  display: flex;
  flex-flow: column;
  max-width: 108.8rem;
  min-height: 100%;
  margin: 0 auto;

  @media (--mobile) {
    padding-top: 2rem;
  }
}

.container-loading {
  pointer-events: none;
  opacity: 0.4;
}

.cards-wrapper {
  @mixin page-cards-wrapper;

  + .title {
    margin-top: 3.2rem;
  }
}

/* ================ */

/*  Card */

/* ================ */

.card {
  @mixin page-card;

  &.is-system {
    .card__title {
      -webkit-line-clamp: 2;
      line-clamp: 2;
    }

    &:hover .card__title {
      color: var(--pneumatic-color-link-hover);
    }
  }
}

.card__content {
  @mixin page-card-content;
}

.card__header {
  @mixin page-card-header;
}

.card__title {
  @mixin page-card-title;
}

.card__description {
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box;
  margin-bottom: auto;
  overflow: hidden;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: var(--pneumatic-color-black72);
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-box-orient: vertical;
}

.card__more {
  @mixin page-card-more;
}

.card__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-left: auto;
  background-color: white;
  border-radius: 50%;
}

.container .btn-more {
  width: 100%;
  height: 4.8rem;
  margin: 1.6rem auto 3.2rem;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
  color: var(--pneumatic-color-link);
  border: 0.1rem solid currentcolor;
  border-radius: 2.4rem;

  &:hover {
    color: var(--pneumatic-color-link-hover);
  }
}

.card__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;

  .card-footer__left {
    display: block;
  }

  .card-footer__right {
    margin-left: 3.2rem;
  }

  .card-stats {
    font-size: 1.3rem;
    font-style: normal;
    line-height: 1.6rem;
    color: var(--pneumatic-color-black48);

    > *:not(:last-child) {
      margin-right: 0.8rem;
    }
  }

  .card-stats__amount {
    color: var(--pneumatic-color-black72);
  }

  .card-draft {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    font-size: 1.3rem;
    line-height: 1.6rem;
    color: var(--pneumatic-notification-1);
    background: var(--pneumatic-error-color-light);
    border-radius: 50%;
  }

  .card-integration {
    padding: 0.1rem 0.8rem;
    margin-bottom: 0.6rem;
    font-size: 1.3rem;
    line-height: 1.6rem;
    border-radius: 1.4rem;
  }

  .card-integration_integrated {
    color: var(--pneumatic-color-success);
    background: var(--pneumatic-success-color-light);
  }

  .card-integration_not-integrated {
    color: var(--pneumatic-notification-1);
    background: var(--pneumatic-error-color-light);
  }

  .card-draft__warning-icon {
    width: 2rem;
    height: 2rem;
  }

  @media only screen and (device-width >= 1000px) and (device-width <= 1023px) and (orientation: portrait) {
    div {
      white-space: nowrap;
    }
  }
}

.card-pending {
  composes: card;
  pointer-events: none;
  cursor: wait;
  opacity: 0.7;
}

@media (--mobile) {
  .card-footer__switch {
    margin-left: 0.7rem;
  }
}

.card-avatar-container {
  align-self: center;
  width: 2rem;
  margin-right: 1.3rem !important;

  img {
    margin-top: -0.3rem;
  }
}

.card-avatar {
  width: 2rem;
  height: 2rem;
  font-size: 0;
  border-radius: 50%;
}

/* ========================= */

/*  Categories */

/* ========================= */

.categories {
  margin: -0.4rem -0.4rem 2.8rem;
}

/* ========================= */

/*  Search field */

/* ========================= */

.search-field {
  position: relative;
  margin-bottom: 1.6rem;

  &__icon {
    position: absolute;
    top: 50%;
    left: 1.6rem;
    color: var(--pneumatic-color-black72);
    transform: translateY(-50%);
  }

  &__input {
    padding-left: 4.8rem !important;
    background: transparent;
  }
}

/* ========================= */

/*  Other */

/* ========================= */

.placeholder {
  margin: 0 auto;
}

.scrollbar-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 1.5rem;
  margin-left: -1.5rem;

  @media (--mobile) {
    flex-wrap: nowrap;
  }
}

.popup-header {
  height: auto !important;
  padding: 8rem 8rem 6rem !important;
  background: white;
  border: none !important;
  border-radius: 3.2rem 3.2rem 0 0 !important;

  h5 {
    width: 100% !important;
  }

  @media (--mobile) {
    padding: 6.9rem 4rem 4rem !important;
  }

  & > button {
    position: absolute;
    top: 3.7rem;
    right: 3.7rem;
    font-size: 2.5rem;
  }
}

.popup-pretitle {
  font-size: 1.5rem;
  line-height: 2rem;
}

.popup-title {
  display: flex;
  margin: 1.6rem 0 0.8rem;
}

.popup-title__name {
  font-family: 'Abhaya Libre', 'Times New Roman', Arial, serif;
  font-size: 2.8rem;
  font-weight: 800;
  line-height: 3.2rem;
  letter-spacing: -0.01em;
  overflow-wrap: anywhere;
}

.popup-title__urgent {
  display: inline;
  align-self: center;
  padding: 0 0.8rem;
  margin-right: 0.8rem;
  font-family: Nunito, sans-serif;
  font-size: 1.3rem;
  font-weight: normal;
  line-height: 1.8rem;
  vertical-align: middle;
  color: white;
  letter-spacing: -0.01em;
  background: var(--pneumatic-notification-1);
  border-radius: 1.4rem;
}

.popup-description {
  width: 100%;
  margin-bottom: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: var(--pneumatic-warning-color);
  overflow-wrap: anywhere;
}

.popup-buttons {
  display: flex;
  margin-top: 3.2rem;

  .popup-buttons__button {
    width: 14.1rem;
    margin-right: 0.8rem;
  }

  @media (--mobile) {
    flex-flow: column;
    align-items: center;

    .popup-buttons__button_edit-template,
    .popup-buttons__button {
      width: 100%;
      margin-right: 0;
      margin-bottom: 0.8rem;
    }
  }
}

.popup-button_edit {
  @media (--mobile) {
    margin: 1.6rem 0 0;
  }
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
:global {
  .processes-workflows-popup {
    .modal-dialog {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      max-width: 89.4rem;
      height: 100% !important;
      padding: 0 1.5rem;
      padding-top: 1.6rem;
      margin: auto;
    }

    .modal-body {
      padding: 3.2rem 8rem 8rem !important;
      background: var(--pneumatic-color-beige);
      border-radius: 3.2rem;

      @media (--mobile) {
        padding: 4rem 4rem 8rem !important;
      }
    }

    .modal-content {
      border-radius: 3.2rem;

      & > div {
        height: 100% !important;

        & > form {
          height: 100% !important;
        }
      }

      & > form {
        display: flex;
        flex-flow: column;
        height: 100% !important;
      }
    }

    .modal-backdrop {
      background: var(--pneumatic-color-link);
    }

    .modal-backdrop.show {
      opacity: 0.7;
    }
  }

  .processes-inwork-popup {
    .modal-body {
      padding: 3.2rem 8rem !important;
      border-radius: 3.2rem !important;

      @media (--mobile) {
        padding: 3.2rem !important;
      }
    }
  }

  .workflows-modal {
    .has-float-label label::after,
    .has-float-label > span::after {
      background: var(--pneumatic-color-beige) !important;
    }

    label {
      background: var(--pneumatic-color-beige) !important;
    }

    label > span::after {
      background: var(--pneumatic-color-beige) !important;
    }
  }

  .popup-body label > span::after {
    background: var(--pneumatic-color-beige) !important;
    opacity: 1 !important;
  }

  .popup-body {
    .field-button {
      .has-float-label label::after,
      .has-float-label > span::after {
        background: var(--pneumatic-color-beige) !important;
        opacity: 1 !important;
      }

      input {
        background-clip: padding-box;
        border: 0.1rem solid var(--pneumatic-color-black16);
        border-radius: 0.8rem;
      }
    }
  }

  .invalid-feedback {
    border-radius: 0.8rem !important;
  }
}

.popup-body {
  height: auto !important;
  padding-bottom: 33.2rem !important;
  margin-top: -2.8rem;

  .has-float-label label::after,
  .has-float-label > span::after {
    background: var(--pneumatic-color-beige) !important;
    opacity: 1 !important;
  }
}

.modal-body_hint {
  margin-bottom: 1.6rem;
  font-weight: bold;
}

.text_bold {
  font-weight: 800;
}

.field-button {
  width: 100%;

  input {
    border: 0.1rem solid var(--pneumatic-color-black16);
    border-radius: 0.8rem;
  }

  & > span {
    position: absolute;
    top: -0.5em;
    left: 1rem;
    z-index: 3;
    padding: 0 1rem;
    font-size: 1.3rem;
    line-height: 1;
    line-height: 1.6rem;
    color: var(--pneumatic-warning-color);
    cursor: text;
    opacity: 1;

    &::after {
      position: absolute;
      top: 0.6rem;
      right: -0.2em;
      left: -0.2em;
      z-index: -1;
      display: block;
      height: 0.5rem;
      content: ' ';
      background: var(--pneumatic-color-beige) !important;
    }
  }
}

.popup__kickoff {
  margin-bottom: 1.6rem;
}

.kickoff__title {
  font-family: Nunito, sans-serif;
  font-size: 1.1rem;
  font-weight: 800;
  line-height: 1.6rem;
  color: var(--pneumatic-color-black32);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.kickoff__description {
  font-family: Nunito, sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--pneumatic-color-black100);
  overflow-wrap: anywhere;
}

.dropdown-menu {
  width: 19.2rem;
  padding: 0 !important;
  border: none !important;
  border-radius: 0.8rem !important;
  box-shadow: 0 0.8rem 1.6rem rgb(98 98 95 / 8%) !important;
}

.dropdown-item {
  padding: 1rem 1.6rem !important;
  font-size: 1.5rem;

  &:hover {
    background-color: var(--pneumatic-color-beige) !important;
    border-radius: 0.8rem !important;

    span {
      color: var(--pneumatic-color-link-hover);
    }
  }
}

.kickoff-extra-field {
  input {
    background-clip: padding-box;

    &::placeholder {
      opacity: 1;
    }
  }

  label input {
    background: var(--pneumatic-color-beige) !important;
    opacity: 1 !important;
  }

  textarea {
    background: var(--pneumatic-color-beige) !important;
    opacity: 1 !important;
  }

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  :global .react-datepicker-wrapper input {
    width: 100% !important;
    padding: 1.4rem 5rem 1.4rem 1.6rem !important;
    font-family: Nunito, sans-serif !important;
    font-size: 1.5rem !important;
    line-height: 2rem !important;
    color: var(--pneumatic-color-black100) !important;
    outline: none !important;
    background: var(--pneumatic-color-beige) !important;
    border: 0.1rem solid var(--pneumatic-color-black16) !important;
    border-radius: 0.8rem !important;
    transition: 0.15s ease-in border-color !important;

    &:focus {
      border-color: var(--pneumatic-warning-color) !important;
    }

    &::placeholder {
      color: var(--default-placeholder-color) !important;
    }
  }
}

.user-icon {
  width: 100%;
  color: var(--pneumatic-color-black32);
}

body .share-dropdown-item {
  display: flex;
  justify-content: space-between;
}

.share-dropdown-item > svg {
  height: 2.2rem;
}

.workflow-modal-info {
  display: flex;
  align-items: center;
}

.workflow-modal-info__stats {
  display: flex;
  font-size: 1.3rem;
  font-style: normal;
  line-height: 1.6rem;
  color: var(--pneumatic-color-black48);

  > *:not(:last-child) {
    margin-right: 1.6rem;
  }
}

.workflow-modal-info__stats-amount {
  font-weight: bold;
  color: var(--pneumatic-color-black72);
}

.urgent-switch {
  display: flex;
  align-items: center;
  height: 2rem;
  margin-left: auto;
}

.urgent-switch__label {
  margin-right: 0.8rem;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.6rem;
  color: var(--pneumatic-color-black100);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.section-title {
  margin-bottom: 1.6rem;
  color: var(--pneumatic-color-black48) !important;
}

.workflow-name-field {
  margin-bottom: 1.6rem;
}
