.container {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  min-height: 100%;
  padding-bottom: 32px;
  margin: 0 auto;

  @media (--mobile) {
    max-width: 100%;
    margin: 0 32px;
  }
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.copyright {
  margin: 32px 0 0;
  font-size: 15px;
  line-height: 20px;
  color: var(--pneumatic-color-black48);
  text-align: center;
}

.copyright__link {
  color: var(--pneumatic-color-link-dark);
}
