/* stylelint-disable declaration-no-important */
.table-view-container {
  position: relative;
  margin: 0 auto;
  margin-bottom: -0.8rem;
  padding-right: 3.6rem;
  padding-left: 3.6rem;
  padding-bottom: 0.8rem;
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: space-between;

  @media (--mobile) {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 8rem;
  }
}

.table-wrapper {
  margin: 0 auto;
  padding: 3.2rem;
  display: inline-block;
  background-color: var(--pneumatic-color-white);
  border-radius: 2.4rem;
}

.table-wrapper--narrow-mobile {
  @media (--mobile) {
    border-radius: 0;
  }
}

.table {
  white-space: nowrap;

  td,
  th {
    padding: 0 1.6rem;
    box-sizing: content-box;
  }

  td:nth-child(2),
  th:nth-child(2) {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  th {
    padding-bottom: 3.2rem;
  }

  td:first-child,
  th:first-child {
    padding-left: 0;
  }

  td:last-child,
  th:last-child {
    padding-right: 3.2rem;
  }
}

.loader {
  margin-top: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thead {
  border-bottom: 0.1rem solid var(--pneumatic-color-black16);
}

.column-header {
  font-size: 1.1rem;
  font-weight: bold;
  font-style: normal;
  line-height: 1.6rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--pneumatic-color-black48);
}

.column {
  border-right: 0.1rem solid var(--pneumatic-color-black8);
}

.row {
  height: 5.2rem;
  font-size: 1.5rem;
  border-bottom: 0.1rem solid var(--pneumatic-color-black16);
}

.table-scoll {
  margin: 0 -1.5rem;
  padding: 0 1.5rem;
  overflow: visible !important;

  @media (--mobile) {
    padding: 0;
  }
}

.search {
  position: relative;
}

.search__icon {
  position: absolute;
  top: 50%;
  color: var(--pneumatic-color-black72);
  transform: translateY(-50%);
}

.search-field__input {
  padding-left: 2.8rem !important;
  height: 2rem !important;
  background-color: var(----background-color);
  border: 0;
  border-radius: 0.8rem;
}

.empty-list-placeholder {
  margin-top: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty-list-placeholder--wide {
  max-width: calc(100vw - 17rem);

  @media (--mobile) {
    max-width: calc(100vw - 6.4rem);
  }
}

.header-filter {
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.6rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.header-filter__arrow {
  margin-left: 0 !important;
}

.filter-container {
  padding: 0 !important;
  width: 100%;
}

.user {
  display: flex;
  align-items: center;
}

.user-name {
  margin: 0 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.column-header__box {
  @mixin text-truncate;
}

.column-header__hover-zone {
  position: absolute;
  z-index: 1;
  top: 0;
  right: -1.6rem;
  bottom: 0;
  width: 3.2rem;
}

.column-header__resize {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 1.55rem;
  width: 0.4rem;
  height: 5.2rem;
  cursor: col-resize;
  user-select: none;
  pointer-events: auto;
  transform: translateX(50%);
}

.column-header__dashed-line {
  position: absolute;
  top: 0;
  right: 0.15rem;
  width: 0.1rem;
  border-right: 0.1rem solid var(--pneumatic-color-black72);
  opacity: 0;
}

.column-header__hover-zone:hover .column-header__dashed-line,
.column-header__resize:hover .column-header__dashed-line {
  opacity: 1;
}

.column-header__title {
  @mixin text-truncate;
}

.container__actions--narrow-table {
  display: flex;
  width: 100%;
  min-width: 29rem;
  justify-content: space-between;
}

.container__actions--wide-table {
  position: sticky;
  left: 0;
  padding: 0 2.4rem 0 3.2rem;
  display: flex;
  width: 100%;
  justify-content: space-between;

  @media (--mobile) {
    padding: 0 1.6rem;
  }
}

.title {
  margin-bottom: 1.6rem;

  @media (--mobile) {
    margin-bottom: 3.2rem;
  }
}

.tune-view-button {
  height: 3.2rem;

  @media (--mobile) {
    padding: 0 0.9rem;
    box-sizing: content-box;
  }
}

.workflow-tune-view-tooltip {
  padding: 0.4rem 0.8rem;
  text-align: center;
}

.column-header__template-name,
.column-header__starter-name,
.column-header__performer-name,
.column-header__task-name {
  @mixin text-truncate;
}
