name: pneumatic
services:
  postgres:
    image: postgres:15-bookworm
    container_name: pneumatic-postgres
    environment:
      PGDATA: ${PGDATA:-var/lib/postgresql/data}
      POSTGRES_HOST: ${POSTGRES_HOST:-postgres}
      POSTGRES_USER: ${POSTGRES_USER:-postgres_user}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres_password}
      POSTGRES_DB: ${POSTGRES_DB:-postgres_db}
      POSTGRES_REPLICA_HOST: ${POSTGRES_REPLICA_HOST:-postgres}
      POSTGRES_REPLICA_USER: ${POSTGRES_REPLICA_USER:-postgres_user}
      POSTGRES_REPLICA_PASSWORD: ${POSTGRES_REPLICA_PASSWORD:-postgres_password}
      POSTGRES_REPLICA_DB: ${POSTGRES_REPLICA_DB:-postgres_db}
    volumes:
      - ../postgres/data:/var/lib/postgresql/data:rw
      - ../postgres/backups:/backups:rw
    expose:
      - 5432
    ports:
      - 5432:5432
    networks:
      - pneumatic
    restart: always

  redis:
    # Newest version not working on old linux kernels
    image: redis:6.2.6
    container_name: pneumatic-redis
    command: >
      redis-server
      --loglevel warning
      --databases 16
      --dbfilename dump.rdb
      --dir /data
      --requirepass ${REDIS_PASSWORD:-redis_password}
      --save 20 1 300 100 60 10000
    volumes:
      - ../redis/data:/data
    expose:
      - 6379
    ports:
      - 6379:6379
    networks:
      - pneumatic
    restart: always

  rabbitmq:
    container_name: pneumatic-rabbitmq
    image: rabbitmq:3.13-management
    expose:
      - 5672    # broker url
    ports:
      - 5672:5672
      - 15672:15672  # admin panel
    volumes:
      - ../rabbitmq/data/:/var/lib/rabbitmq/
      - ../rabbitmq/log/:/var/log/rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER:-rabbitmq_user}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD:-rabbitmq_password}
    networks:
      - pneumatic

  celery:
    build:
      context: ../backend
    container_name: pneumatic-celery
    environment:
      BACKEND_URL: ${BACKEND_URL:-http://localhost:8001}
      FRONTEND_URL: ${FRONTEND_URL:-http://localhost}
      FORMS_URL: ${FORMS_URL:-http://form.localhost}
      ENVIRONMENT: ${ENVIRONMENT:-Production}
      LANGUAGE_CODE: ${LANGUAGE_CODE:-en} # Allowed values: en, fr, de, es, ru
      CAPTCHA: ${CAPTCHA:-no}
      ANALYTICS: ${ANALYTICS:-no}
      BILLING: ${BILLING:-no}
      SIGNUP: ${SIGNUP:-yes}
      MS_AUTH: ${MS_AUTH:-no}
      GOOGLE_AUTH: ${GOOGLE_AUTH:-no}
      SSO_AUTH: ${SSO_AUTH:-no}
      SSO_PROVIDER: ${SSO_PROVIDER} # Allowed values: okta, auth0
      EMAIL: ${EMAIL:-no}           # Disable send emails
      EMAIL_PROVIDER: ${EMAIL_PROVIDER}
      CIO_WEBHOOK_API_VERSION: ${CIO_WEBHOOK_API_VERSION}
      CIO_WEBHOOK_API_KEY: ${CIO_WEBHOOK_API_KEY}
      CIO_TRANSACTIONAL_API_KEY: ${CIO_TRANSACTIONAL_API_KEY}
      EMAIL_HOST: ${EMAIL_HOST}
      EMAIL_PORT: ${EMAIL_PORT}
      EMAIL_HOST_USER: ${EMAIL_HOST_USER}
      EMAIL_HOST_PASSWORD: ${EMAIL_HOST_PASSWORD}
      EMAIL_USE_TLS: ${EMAIL_USE_TLS}
      EMAIL_USE_SSL: ${EMAIL_USE_SSL}
      EMAIL_TIMEOUT: ${EMAIL_TIMEOUT}
      AI: ${AI:-no}
      AI_PROVIDER: ${AI_PROVIDER}
      PUSH: ${PUSH:-no}
      PUSH_PROVIDER: ${PUSH_PROVIDER}
      STORAGE: ${STORAGE:-no}
      STORAGE_PROVIDER: ${STORAGE_PROVIDER}
      SENTRY_DSN: ${SENTRY_DSN}
      POSTGRES_HOST: ${POSTGRES_HOST:-postgres}
      POSTGRES_USER: ${POSTGRES_USER:-postgres_user}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres_password}
      POSTGRES_DB: ${POSTGRES_DB:-postgres_db}
      POSTGRES_REPLICA_HOST: ${POSTGRES_REPLICA_HOST:-postgres}
      POSTGRES_REPLICA_USER: ${POSTGRES_REPLICA_USER:-postgres_user}
      POSTGRES_REPLICA_PASSWORD: ${POSTGRES_REPLICA_PASSWORD:-postgres_password}
      POSTGRES_REPLICA_DB: ${POSTGRES_REPLICA_DB:-postgres_db}
      DJANGO_DEBUG: ${DJANGO_DEBUG:-no}
      ADMIN_PATH: ${ADMIN_PATH:-'admin'}
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY:-django_secret_django_secret_django_secret}
      DJANGO_SETTINGS_MODULE: src.settings
      AUTH_REDIS_URL: "redis://:${REDIS_PASSWORD:-redis_password}@redis:6379/1"
      CACHE_REDIS_URL: "redis://:${REDIS_PASSWORD:-redis_password}@redis:6379/0"
      CHANNELS_REDIS_URL: "redis://:${REDIS_PASSWORD:-redis_password}@redis:6379/2"
      SESSION_REDIS_URL: "redis://:${REDIS_PASSWORD:-redis_password}@redis:6379/3"
      CELERY_BROKER_URL: "amqp://${RABBITMQ_USER:-rabbitmq_user}:${RABBITMQ_PASSWORD:-rabbitmq_password}@rabbitmq:5672"
      ALLOWED_HOSTS: "pneumatic-nginx ${FRONTEND_DOMAIN:-localhost}"
      VERIFICATION_CHECK: no
      CORS_ORIGIN_ALLOW_ALL: no
      CORS_ALLOW_CREDENTIALS: yes
      CORS_ORIGIN_WHITELIST: "http://localhost:8000 ${FRONTEND_URL:-http://localhost}"
      ENABLE_LOGGING: ${ENABLE_LOGGING:-no}
    volumes:
      - ./:/pneumatic_backend
    command: >
      sh -c "celery --app src.celery_app:app worker -l warning"
    depends_on:
      - postgres
      - rabbitmq
      - redis
    networks:
      - pneumatic
    restart: always

  celery-beat:
    build:
      context: ../backend
    container_name: pneumatic-celery-beat
    environment:
      BACKEND_URL: ${BACKEND_URL:-http://localhost:8001}
      FRONTEND_URL: ${FRONTEND_URL:-http://localhost}
      FORMS_URL: ${FORMS_URL:-http://form.localhost}
      ENVIRONMENT: ${ENVIRONMENT:-Production}
      LANGUAGE_CODE: ${LANGUAGE_CODE:-en} # Allowed values: en, fr, de, es, ru
      CAPTCHA: ${CAPTCHA:-no}
      ANALYTICS: ${ANALYTICS:-no}
      BILLING: ${BILLING:-no}
      SIGNUP: ${SIGNUP:-yes}
      MS_AUTH: ${MS_AUTH:-no}
      GOOGLE_AUTH: ${GOOGLE_AUTH:-no}
      SSO_AUTH: ${SSO_AUTH:-no}
      SSO_PROVIDER: ${SSO_PROVIDER} # Allowed values: okta, auth0
      EMAIL: ${EMAIL:-no}           # Disable send emails
      EMAIL_PROVIDER: ${EMAIL_PROVIDER}
      CIO_WEBHOOK_API_VERSION: ${CIO_WEBHOOK_API_VERSION}
      CIO_WEBHOOK_API_KEY: ${CIO_WEBHOOK_API_KEY}
      CIO_TRANSACTIONAL_API_KEY: ${CIO_TRANSACTIONAL_API_KEY}
      EMAIL_HOST: ${EMAIL_HOST}
      EMAIL_PORT: ${EMAIL_PORT}
      EMAIL_HOST_USER: ${EMAIL_HOST_USER}
      EMAIL_HOST_PASSWORD: ${EMAIL_HOST_PASSWORD}
      EMAIL_USE_TLS: ${EMAIL_USE_TLS}
      EMAIL_USE_SSL: ${EMAIL_USE_SSL}
      EMAIL_TIMEOUT: ${EMAIL_TIMEOUT}
      AI: ${AI:-no}
      AI_PROVIDER: ${AI_PROVIDER}
      PUSH: ${PUSH:-no}
      PUSH_PROVIDER: ${PUSH_PROVIDER}
      STORAGE: ${STORAGE:-no}
      STORAGE_PROVIDER: ${STORAGE_PROVIDER}
      SENTRY_DSN: ${SENTRY_DSN}
      POSTGRES_HOST: ${POSTGRES_HOST:-postgres}
      POSTGRES_USER: ${POSTGRES_USER:-postgres_user}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres_password}
      POSTGRES_DB: ${POSTGRES_DB:-postgres_db}
      POSTGRES_REPLICA_HOST: ${POSTGRES_REPLICA_HOST:-postgres}
      POSTGRES_REPLICA_USER: ${POSTGRES_REPLICA_USER:-postgres_user}
      POSTGRES_REPLICA_PASSWORD: ${POSTGRES_REPLICA_PASSWORD:-postgres_password}
      POSTGRES_REPLICA_DB: ${POSTGRES_REPLICA_DB:-postgres_db}
      DJANGO_DEBUG: ${DJANGO_DEBUG:-no}
      ADMIN_PATH: ${ADMIN_PATH:-'admin'}
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY:-django_secret_django_secret_django_secret}
      DJANGO_SETTINGS_MODULE: src.settings
      AUTH_REDIS_URL: "redis://:${REDIS_PASSWORD:-redis_password}@redis:6379/1"
      CACHE_REDIS_URL: "redis://:${REDIS_PASSWORD:-redis_password}@redis:6379/0"
      CHANNELS_REDIS_URL: "redis://:${REDIS_PASSWORD:-redis_password}@redis:6379/2"
      SESSION_REDIS_URL: "redis://:${REDIS_PASSWORD:-redis_password}@redis:6379/3"
      CELERY_BROKER_URL: "amqp://${RABBITMQ_USER:-rabbitmq_user}:${RABBITMQ_PASSWORD:-rabbitmq_password}@rabbitmq:5672"
      ALLOWED_HOSTS: "pneumatic-nginx ${FRONTEND_DOMAIN:-localhost}"
      VERIFICATION_CHECK: no
      CORS_ORIGIN_ALLOW_ALL: no
      CORS_ALLOW_CREDENTIALS: yes
      CORS_ORIGIN_WHITELIST: "http://localhost:8000 ${FRONTEND_URL:-http://localhost}"
      ENABLE_LOGGING: ${ENABLE_LOGGING:-no}
    volumes:
      - ./:/pneumatic_backend
    command: celery --pidfile= --app src.celery_app:app beat -l warning -S django
    depends_on:
      - postgres
      - rabbitmq
      - redis
    networks:
      - pneumatic
    restart: always


networks:
  pneumatic:
