/* stylelint-disable declaration-no-important, selector-pseudo-class-no-unknown */
.container {
  margin: 0 auto;
  max-width: 111.8rem;
}

.container--loading {
  pointer-events: none;
  opacity: 0.3;
}

.template-wrapper {
  display: flex;

  @media (--mobile) {
    flex-direction: column;
    justify-content: center;
  }
}

.template-wrapper__info {
  z-index: 2;
  margin-right: 6.4rem;
  width: 27.2rem;
  flex-shrink: 0;

  @media (--mobile) {
    margin-right: 0;
    margin-bottom: 3.2rem;
    width: 100%;
  }
}

.template-wrapper__tasks {
  flex-grow: 1;
  min-width: 0;
}

.task-performers {
  margin: -0.4rem;
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin: 0.4rem;
  }
}

.task-performer {
  align-items: center;
  margin: 0 0.4rem 0.8rem;
  padding: 0.6rem 0.8rem;
  display: inline-flex;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: var(--pneumatic-color-black100);
  background: var(--pneumatic-color-beige);
  border-radius: 1.6rem;
  justify-content: space-between;
}

.task-performer__avatar {
  margin-right: 0.4rem;
}

.task-performer__delete {
  margin-left: 0.4rem;
  cursor: pointer;
  color: var(--pneumatic-color-black16);
  transition: color 0.1s ease-in-out;

  &:hover {
    color: var(--pneumatic-color-link-hover);
  }
}

.tasks {
  display: flex;
  flex-flow: column;
  align-items: center;

  @media (--mobile) {
    padding-left: 0;
  }
}

.task-wrapper {
  width: 100%;
  transition: height 0.3s;
}

.task-wrapper__inner {
  position: relative;
}

.task_form {
  position: relative;
  margin-bottom: 1.6rem !important;
  padding: 4rem 3.2rem 3.2rem;
  width: 100%;
  background: var(--pneumatic-color-white);
  border: none !important;
  border-radius: 2.4rem !important;
}

.task_form-popover {
  .task-accordion-container {
    margin-top: 1.2rem;
  }
}
.task_form-popover > *:nth-child(2) {
  margin-top: 1.4rem;
}

.task-name-field {
  margin-bottom: 1.6rem;
}

.task_form .task_form-container .task_form-popover {
  padding: 4rem 7.2rem 3.2rem 3.2rem;
  min-width: 52.8rem;

  @media screen and (max-width: 558px) {
    min-width: 0;
  }
}

.task-fields-wrapper {
  position: relative;
  padding-right: 4rem;
}

.task-name-field {
  position: relative;

  .task-name-field_field-with-button {
    padding-right: 6.4rem;
  }
}

.task-name-field__variables {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 1.6rem;
  transform: translate(0, -50%);
}

:global {
  .popover {
    max-width: none !important;

    .arrow {
      display: none !important;
    }
  }
}

.task_buttons {
  margin-top: 3.2rem;
  display: flex;
}

.next-task-button {
  padding: 0.9rem 2.4rem !important;
  width: 100%;
  justify-content: center;
}

.task_view {
  position: relative;
  margin: 0 0 1.6rem;
  padding: 3.2rem 7.2rem 3.2rem 3.2rem;
  width: 100%;
  background: var(--pneumatic-color-white);
  border-radius: 2.4rem;

  @media (--mobile) {
    padding: 3.2rem 5.4rem 3.2rem 3.2rem;
  }
}

.task_view__conditions,
.task_view__conditions-gold {
  padding: 0.1rem 0.8rem;
  display: inline-flex;
  font-size: 1.3rem;
  line-height: 1.6rem;
  cursor: pointer;
  border-radius: 1.4rem;
  justify-content: space-between;
}
.task_view__conditions_m-4 {
  margin: 0 0.4rem 0.4rem 0;
}
.task_view__conditions {
  user-select: all;
  color: var(--pneumatic-color-black16);
  background: var(--pneumatic-color-black72);
}

.task_view__conditions-gold {
  text-transform: capitalize;
  cursor: pointer;
  color: var(--pneumatic-color-black100);
  background: var(--pneumatic-color-link);
}

.task-view__return-info {
  padding: 0.1rem 0.8rem;
  cursor: pointer;
  color: var(--pneumatic-color-black72);
  background: transparent;
  border-radius: 1.4rem;
  outline: 0.1rem solid var(--pneumatic-color-black72);

  @mixin text-small;
}

.task__add-before {
  position: relative;
  z-index: 1;
  margin-top: -1.6rem;
  display: flex;
  height: 1.6rem;

  svg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    visibility: hidden;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
  }

  &:hover svg {
    visibility: visible;
    opacity: 1;
  }

  &:active {
    transform: scale(0.98);
  }
}

.task__data-wrapper > *:last-child {
  margin-bottom: 0;
}

.task_view-title {
  margin-bottom: 1.6rem;
  font-family: 'Abhaya Libre', serif;
  font-size: 2rem;
  font-weight: 800;
  line-height: 2.3rem;
  word-break: break-word;
  cursor: pointer;

  &:hover {
    color: var(--pneumatic-color-link-hover);
  }

  * {
    font-family: inherit;
  }
}

.task_view-description {
  margin: 1.6rem 0;
  font-size: 1.5rem;
  line-height: 2rem;
  word-break: break-word;
  cursor: pointer;
  color: var(--pneumatic-color-black72);
}

.task-preview-performers {
  margin: 1.6rem 0;
}

.task-preview-performers__inner {
  margin-bottom: -1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.task-preview-outputs {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.task-preview-due-in {
  margin-left: auto;
  display: flex;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.6rem;
  text-align: right;
  white-space: nowrap;
  cursor: pointer;
  color: var(--pneumatic-color-black100);
  align-items: center;
}
.task-preview-due-in_mb-16 {
  margin-bottom: 1.6rem;

  @media (--mobile) {
    margin-left: 0;
  }
}

.task-preview-due-in__icon {
  margin-left: 0.9rem;
}

.responsible-user {
  margin-right: 0.8rem;
  margin-bottom: 0.8rem;
  display: flex;
  align-items: flex-start;
  flex-flow: row nowrap;

  .user-avatar-container_details {
    margin-top: 0.1rem;
    margin-right: 0.8rem;
    display: flex;
  }

  .user-avatar_details {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
  }
}

.task-view-performers {
  margin-bottom: 1.4rem;
  font-size: 1.1rem;
  font-weight: 800;
  line-height: 1.6rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--pneumatic-color-black32);
}

.task-view-url {
  margin: 0.8rem 0 1.2rem;
  font-size: 1.1rem;
  font-weight: 800;
  line-height: 1.6rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--pneumatic-color-black32);
}

.task-url-icon {
  width: fit-content;
  max-width: 100%;
}

input {
  text-overflow: ellipsis;
  &::placeholder:not(:active) {
    opacity: 1 !important;
  }

  &::placeholder:not(:focus) {
    opacity: 1 !important;
  }
  /* stylelint-disable-next-line */
  &::-moz-placeholder {
    opacity: 1 !important;
  }
}

.kickoff-wrapper {
  position: relative;
  width: 100%;
}

.task-description__variables {
  position: absolute;
  z-index: 2;
  right: 1.6rem;
  bottom: 1.2rem;
  cursor: pointer;
  transition: 0.15s ease-in all;
}

.last-update {
  margin-top: 1.6rem;
}

.task-description {
  margin-bottom: 1.6rem;
}
