:root {
  --sidebar-bg-trial: var(--pneumatic-color-black88);
  --sidebar-bg-premium: var(--pneumatic-color-black88);
  --sidebar-color-trial: var(--pneumatic-color-black16);
  --sidebar-color-premium: var(--pneumatic-color-black16);
  --sidebar-color-hover-trial: var(--pneumatic-color-link-hover);
  --sidebar-color-hover-premium: var(--pneumatic-color-link-hover);
  --sidebar-color-active-trial: var(--pneumatic-color-link-hover);
  --sidebar-color-active-premium: var(--pneumatic-color-link-hover);
}

.sidebar_free {
  .sidebar_menu,
  .logo-mobile {
    background: var(--pneumatic-color-black88);
  }

  :global(.active) .sidebar__link {
    color: var(--pneumatic-color-link-hover);
  }

  .sidebar__link {
    color: var(--pneumatic-color-black16);
    transition: color 0.1s ease-in-out;

    &:hover {
      color: var(--pneumatic-color-link-hover);
    }
  }

  .sidebar-ribbon {
    background: var(--pneumatic-color-notification3);
  }

  .sidebar-ribbon-tail {
    color: var(--pneumatic-color-notification3);
  }

  .sidebar-ribbon__label {
    color: var(--pneumatic-color-notification3-light);
  }
}

.sidebar_trial {
  .sidebar-ribbon {
    background: var(--pneumatic-color-notification1);
  }

  .sidebar-ribbon-tail {
    color: var(--pneumatic-color-notification1);
  }

  .sidebar-ribbon__label {
    color: var(--pneumatic-color-notification1-light);
  }
}

.sidebar_premium {
  .sidebar-ribbon {
    background: var(--pneumatic-color-violet);
  }

  .sidebar-ribbon-tail {
    color: var(--pneumatic-color-violet);
  }

  .sidebar-ribbon__label {
    color: var(--pneumatic-color-notification3-light);
  }
}

.sidebar_partner {
  .sidebar-ribbon {
    background: var(--pneumatic-color-notification4);
  }

  .sidebar-ribbon-tail {
    color: var(--pneumatic-color-notification4);
  }

  .sidebar-ribbon__label {
    color: var(--pneumatic-color-notification3-light);
  }
}

.sidebar_trial,
.sidebar_premium {
  .sidebar_menu,
  .logo-mobile {
    background: var(--pneumatic-color-black88);
  }

  :global(.active) .sidebar__link {
    color: var(--pneumatic-color-link-hover);
  }

  .sidebar__link {
    color: var(--pneumatic-color-black16);
    transition: color 0.1s ease-in-out;

    &:hover {
      color: var(--pneumatic-color-link-hover);
    }
  }
}

.sidebar-ribbon {
  position: absolute;
  z-index: -1;
  top: 2.4rem;
  right: -0.1rem;
  width: calc(100% - 2.5rem);
  height: 2.4rem;
  text-align: right;

  @media (--mobile) {
    top: 2rem;
  }
}

.sidebar-ribbon__label {
  position: relative;
  z-index: 1;
  padding-right: 1.6rem;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.6rem;
  opacity: 1;
  transition: opacity 0.1s ease-out 0.15s;
}

:global(.menu-default.main-hidden) .sidebar-ribbon__label {
  opacity: 0;
  transition: none;
}

.sidebar-ribbon-tail {
  position: absolute;
  z-index: 0;
  top: 50%;
  right: -0.4rem;
  margin-top: -1.2rem;
}

:global(.main-hidden) .sidebar__link > span {
  visibility: hidden;
  font-size: 0;
}

:global(.main-hidden) :global(.main-menu) li {
  width: initial;
  min-width: initial;
}

.counter_container {
  position: absolute;
  top: -0.4rem;
  left: 1.8rem;
  display: flex;
  width: 3.7rem;
  justify-content: flex-end;

  @media (--mobile) {
    top: auto;
    left: -0.5rem;
    bottom: 1.2rem;
  }
}

.sidebar_menu {
  @media (--mobile) {
    position: absolute;
    top: 1.6rem;
    bottom: auto;
    padding-bottom: 8.5rem;
  }

  .counter {
    padding: 0.2rem 0.4rem;
    display: flex;
    min-width: 2rem;
    max-width: 3.7rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    border-radius: 1.2rem;

    span {
      padding: 0;
      visibility: unset;
      font-size: 1.1rem;
      font-weight: 800;
      line-height: 1.6rem;
      letter-spacing: 0.05em;
    }

    @media (--mobile) {
      top: 0.3rem;
      left: 16.6rem;
    }
  }
}

.counter_alert {
  color: var(--pneumatic-color-white);
  background: var(--pneumatic-notification-1);
}

.counter_info {
  color: var(--pneumatic-color-black48);
  background: var(--pneumatic-color-beige);
}

.logo {
  @media (--mobile) {
    position: absolute;
    z-index: 1;
    top: 1.6rem;
    left: 1.6rem;
  }
}

.help {
  position: absolute;
  left: 1.6rem;
  bottom: 1.6rem;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  color: var(--pneumatic-color-link-hover);
  background: none;
  border: 0;
  transition: color 0.3s;

  &:hover {
    color: var(--pneumatic-color-white);
  }
}

.help-text {
  margin-left: 1.2rem;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.6rem;

  @media (--mobile) {
    margin-left: 1.6rem;
  }
}

.help-text__hidden {
  visibility: hidden;
}

.logo-desktop {
  @media (--mobile) {
    display: none;
  }

  @media (--desktop) {
    position: absolute;
    z-index: 1;
    top: 1.6rem;
    left: 1.6rem;
    display: block;
    border-radius: 50%;
    outline: none;
  }
}

.logo-mobile {
  position: absolute;
  z-index: 1040;
  top: 1.6rem;
  left: 0;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 0 3.2rem 3.2rem 0;

  @media (--desktop) {
    display: none;
  }

  @media (--mobile) {
    display: block;
  }
}

.logo__extra-space {
  top: 4.8rem;
}

.mobile-item {
  @media (--mobile) {
    margin-bottom: 3.2rem;
    height: unset;

    &:first-child {
      margin-top: 1.6rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    @media (--mobile) {
      padding: 0;
      height: unset;
    }
  }
}

:global(.sidebar) :global(.main-menu).menu__extra-space {
  top: 4rem;
}

/*** Start workflow button ***/

.sidebar__bottom {
  position: absolute;
  right: 1.6rem;
  left: 1.6rem;
  bottom: 1.6rem;
  padding: 0;
}

.sidebar__start-button {
  padding: 0;
  display: flex;
  width: 100%;
  height: 4rem;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  color: var(--pneumatic-color-black100);
  background: var(--pneumatic-color-white);
  border: none;
  border-radius: 2.8rem;
  transition: all 0.1s ease-out;

  &:hover {
    color: var(--pneumatic-color-white);
    background: var(--pneumatic-color-link-hover);
  }
}

:global(.menu-default:not(.main-hidden)) .sidebar__start-button {
  width: 100%;
  border-radius: 2.8rem;
}

.start-button__icon {
  margin: 0;
  transition: margin 0.1s ease;

  @media (--mobile) {
    margin-right: 0.8rem;
  }
}

:global(.menu-default:not(.main-hidden)) .start-button__icon {
  margin-right: 0.8rem;
}

.start-button__text {
  position: absolute;
  margin-bottom: 0;
  font-family: Nunito, sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 2rem;
  white-space: nowrap;
  word-break: keep-all;
  opacity: 0;
}

:global(.menu-default:not(.main-hidden)) .start-button__text {
  position: unset;
  opacity: 1;
  transition: opacity 0.1s ease-out 0.2s;
}

.menu-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrapper__list {
  margin: auto;
  padding-left: 0;
  width: 100%;
  list-style: none;

  @media (--mobile) {
    width: auto;
  }
}

/* STYLES FROM GENREAL TEMPLATE */
:global(.menu-default) :global(.main-menu) :global(li.active)::after {
  position: absolute;
  top: calc(50% - 0.8rem);
  right: 0;
  width: 0.4rem;
  height: 1.6rem;
  content: ' ';
  background: var(--pneumatic-color-white);
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  transform: rotate(180deg);
}

:global(.sub-hidden) :global(.main-menu) :global(li.active)::after {
  display: none;
}

:global(.sidebar) {
  position: fixed;
  z-index: 1030;
  top: 0;
  bottom: 0;
  height: calc(100% - 10rem);
  transition: border-radius var(--menu-collapse-time);

  @media (--mobile) {
    position: absolute;
  }
}

:global(.sidebar) :global(.scrollbar-container) {
  margin-right: 0;
  padding-right: 0;
}

:global(.sidebar) :global(.main-menu) {
  position: fixed;
  z-index: 3;
  top: 1rem;
  left: 0;
  bottom: 1rem;
  padding-top: 6.6rem;
  padding-bottom: 6.6rem;
  width: 20rem;
  border-radius: 0 2rem 2rem 0;
  transition: transform var(--menu-collapse-time), width var(--menu-collapse-time);

  @media (--mobile) {
    width: calc(100vw - 1.6rem);
    height: calc(100vh - 3.2rem);
  }
}

:global(.main-menu) :global(.scroll) {
  margin-right: unset;
  padding-right: unset;
  height: 100%;
}

:global(.main-menu) :global(.scroll) :global(.ps__thumb-y) {
  right: 0;
}

:global(.sidebar) :global(.main-menu.main-hidden) {
  width: 7.2rem;
  transform: none;
}

:global(.main-menu) :global(ul) :global(li) {
  position: relative;
  margin-bottom: 4rem;
  width: auto;
  min-width: 20rem;
}

:global(.main-menu) :global(ul) :global(li:last-child) {
  margin-bottom: 0;
}

:global(.main-menu) :global(li) :global(span) {
  padding: 0 0 0 1.6rem;
  font-size: 1.1rem;
  line-height: 1.6rem;
  text-align: left;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

:global(.main-menu) :global(li) :global(a) {
  padding-left: 2.3rem;
  display: flex;
  width: auto;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: normal;
  border-radius: 2.4rem;
  transition: color var(--menu-collapse-time), background var(--menu-collapse-time);
}

:global(.main-menu) :global(li) :global(i) {
  font-size: 3.2rem;
  line-height: 4.2rem;
}

:global(.main-menu) :global(ul) :global(li.active)::after {
  right: 0;
  left: initial;
  content: ' ';

  @media (--mobile) {
    right: 0.2rem;
    width: 0.3rem;
    height: 6rem;
  }
}

:global(.main-menu) :global(li:last-of-type) :global(a) {
  border-bottom: initial;
}

@media (--mobile) {
  :global(.main-menu) :global(li) :global(i) {
    font-size: 2.8rem;
    line-height: 3.8rem;
  }

  :global(.main-menu) :global(li) :global(a) {
    height: 9rem;
  }
}

:global(.main-hidden) :global(.main-menu),
:global(.menu-hidden) :global(.main-menu) {
  width: 7.2rem;
  transform: none;

  @media (--mobile) {
    transform: translateX(-7.2rem);
  }
}

:global(.menu-mobile) :global(.main-menu) {
  transform: translateX(-7.2rem);
}

:global(.main-show-temporary) :global(.main-menu) {
  transform: translateX(0);
}

@media (--mobile) {
  :global(.sidebar) .sidebar_menu {
    position: absolute;
    top: 1.6rem;
    bottom: auto;
    padding-bottom: 8.5rem;
  }

  :global(.main-menu) .mobile-item {
    height: unset;
  }

  :global(.main-menu) .mobile-item a {
    padding: 0;
    height: unset;
  }

  :global(.sidebar) :global(.main-menu).menu__extra-space {
    top: 4.8rem;
    height: calc(100vh - 6.4rem);
  }
}
