.fieldset-outputs-preview {
  display: flex;
  margin-top: 0.75rem;
  flex-direction: column;
  gap: 0.75rem;
}

.fieldset-outputs-preview__group {
  display: flex;
  flex-direction: column;
  gap: 0.38rem;
}

.fieldset-outputs-preview__title {
  margin: 0;
  font-size: 0.81rem;
  font-weight: 600;
  color: var(--pneumatic-color-black72);
}
