.fieldset-outputs-preview__group {
  display: inline-block;
  justify-content: space-between;
  max-width: 20ch;
  padding: 0.1rem 0.8rem;
  margin: 0 0.4rem 0.4rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.3rem;
  line-height: 1.6rem;
  vertical-align: middle;
  color: var(--pneumatic-color-black72);
  white-space: nowrap;
  user-select: all;
  background: var(--pneumatic-color-black16);
  border: 0;
  border-radius: 1.4rem;
}
