.title_required {
  &::after {
    color: var(--pneumatic-color-warning);
    content: '*';
  }
}

.title_foreground-white {
  background-color: white;
}

.title_foreground-beige {
  background-color: var(--pneumatic-color-beige);
}
