.feed-item__container {
  position: relative;
  padding: 3.4rem 3.2rem 1.6rem;
  margin-bottom: 1.6rem;
  background: var(--pneumatic-color-white);
  border-radius: 2.4rem;

  .loading {
    position: absolute;
  }
}

.feed-item__body {
  display: flex;
  padding: 1.6rem 2.4rem 1.6rem 1.6rem;
  margin: 0 -1.6rem;
  cursor: pointer;
  background: var(--pneumatic-color-beige);
  border-radius: 1.6rem;
}

.feed-item__header-container {
  margin-bottom: 1.6rem;
}

.comment__outputs-container {
  margin-bottom: 1.6rem;
}

.header__comment {
  display: flex;
  flex-flow: column;
  margin: 0;
}

.comment__title {
  @mixin text-base;

  display: block;
  color: var(--pneumatic-color-black100);
}

.comment__text {
  @mixin text-base;
  @mixin text-truncate;

  color: var(--pneumatic-color-black72);
}

.comment__text_expanded {
  @mixin text-wrap;
}

.show-more span {
  @mixin text-base;

  color: var(--pneumatic-color-link);
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}

.show-more:hover span {
  color: var(--pneumatic-color-link-hover);
}

.feed-item__icon {
  display: flex;
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
  margin-right: 0.8rem;
  line-height: 1.8rem;
}

.feed-item__content {
  display: flex;
  flex: 65 1 auto;
  flex-flow: column;
  align-self: auto;
}

.feed-item__header {
  display: flex;
  align-items: center;
  height: 2rem;
  margin-bottom: 1.6rem;

  @media (--mobile) {
    height: auto;
  }
}

.header__avatar {
  margin-right: 0.8rem;
}

.header__info {
  flex-grow: 1;
  margin-right: 2rem;
}

.info__performer {
  display: flex;
  margin-bottom: 0;
}

.performer__name {
  @mixin text-base;
  @mixin text-truncate;

  flex: 0 1 auto;
  min-width: 0;
  margin-right: 0.8rem;
  color: var(--pneumatic-color-black100);
}

.performer__datetime {
  @mixin text-small bold;

  flex-shrink: 0;
  align-self: center;
  color: var(--pneumatic-color-black48);
  cursor: pointer;
}

.info__task {
  @media (--desktop) {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
  }
}

.task__name {
  @mixin text-base;
  @mixin text-truncate;

  max-width: 100%;
  color: var(--pneumatic-color-black72);
}

.body__workflow-name {
  @mixin text-small;
  @mixin text-truncate;

  display: block;
  max-width: 100%;
  color: var(--pneumatic-color-black48);
}

.body__workflow-name_active {
  cursor: pointer;
  transition: color 0.1s ease-in-out;

  &:hover {
    color: var(--pneumatic-color-link);
  }
}

.body__process-name {
  @mixin text-base 800;
  @mixin text-truncate;

  display: block;
  color: var(--pneumatic-color-black100);
}

.performer__icon {
  align-self: start;
  height: 2rem;
  margin-right: 0.8rem;

  & svg {
    vertical-align: top;
  }
}

.performer__status_datetime {
  display: inline-flex;

  @media (--mobile) {
    display: flex;
  }
}

.changed-performer {
  @mixin text-base;

  color: var(--pneumatic-color-black72);
}

.username {
  font-weight: bold;
}

.card-more-container {
  position: absolute;
  top: 3.2rem;
  right: 3.2rem;
}

.card-more {
  color: var(--pneumatic-color-black16);
  cursor: pointer;
  transition: color 0.1s ease-in-out;

  &.card-more_active,
  &:hover {
    color: var(--pneumatic-color-link-hover);
  }
}

.due-date-changed-icon {
  color: var(--pneumatic-color-black32);
}
