.filter {
  & + & {
    margin-top: 1.6rem;
  }

  &__options + &__datepicker {
    margin-top: 1.2rem;
  }

  &__options + &__show-all {
    margin-top: 0.8rem;
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    &--disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  &__option-label {
    @mixin text-truncate;

    min-width: 0;
  }

  &__option-row {
    overflow: hidden;
    width: 100%;
    min-width: 0;
  }

  &__input {
    margin-bottom: 1.6rem;
    padding: 0.9rem 1.6rem;
    box-sizing: border-box;
    width: 100%;
    font-family: Nunito, sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    background: #f6f6f6;
    border: 1px solid #dcdcdb;
    border-radius: 0.6rem;
    outline: none;
    transition: 0.1s ease-in-out all;

    &:focus {
      border-color: #979795;
    }

    &:disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  &__show-all {
    padding: 0;
    background: none;
    border: none;
    transition: 0.1s ease-in-out all;

    &:active {
      scale: 0.98;
    }

    &:disabled {
      pointer-events: none;
      opacity: 0.5;
    }

    span {
      font-family: Nunito, sans-serif;
      font-size: 1.3rem;
      line-height: 1.6rem;
      color: #fec336;
    }

    &:hover span {
      color: #e79a26;
    }
  }

  &__spinner {
    /* stylelint-disable-next-line declaration-no-important */
    position: absolute !important;
    left: 50%;
  }

  &__placeholder {
    font-family: Nunito, sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #62625f;
  }

  &__datepicker {
    position: relative;
    box-sizing: border-box;
    height: 4rem;
    background-color: transparent;
    border: 0.1rem solid var(--pneumatic-color-black16);
    border-radius: 0.8rem;
    transition: border-color 0.1s ease-in-out;

    &:focus-within {
      border-color: var(--pneumatic-color-black48);
    }

    > * {
      width: 100%;
      height: 100%;
    }

    /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
    :global(.react-datepicker-wrapper),
    :global(.react-datepicker__input-container) {
      width: 100%;
      height: 100%;
    }

    /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
    :global(.react-datepicker__input-container) input {
      /* stylelint-disable-next-line declaration-no-important */
      padding: 0 !important;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      /* stylelint-disable-next-line declaration-no-important */
      color: transparent !important;
      /* stylelint-disable-next-line declaration-no-important */
      background-color: transparent !important;
      /* stylelint-disable-next-line declaration-no-important */
      border: none !important;
      /* stylelint-disable-next-line declaration-no-important */
      border-radius: 0 !important;
      /* stylelint-disable-next-line declaration-no-important */
      caret-color: transparent !important;
    }

    &-display {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      padding: 0 1.6rem;
      display: flex;
      pointer-events: none;
      align-items: center;
    }

    &-start,
    &-end {
      @mixin text-overflow;

      flex: 1;
      min-width: 0;
      font-family: Nunito, sans-serif;
      font-size: 1.5rem;
      font-weight: normal;
      line-height: 2rem;
      color: var(--pneumatic-color-black100);
    }

    &-end {
      text-align: right;
    }

    &-separator {
      flex-shrink: 0;
      margin: 0 0.8rem;
      font-family: Nunito, sans-serif;
      font-size: 1.5rem;
      line-height: 2rem;
      color: var(--pneumatic-color-black48);
    }

    &-placeholder {
      color: var(--pneumatic-color-black48);
    }

    &-input {
      position: relative;
      z-index: 2;
    }

    &-wrapper {
      width: 100%;
      height: 100%;
    }
  }
}
