.process-highlights-feed__container {
  /* stylelint-disable-next-line declaration-no-important */
  max-width: 85.6rem !important;
}

.loading {
  /* stylelint-disable declaration-no-important */
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  /* stylelint-enable declaration-no-important */
  margin: auto;
  opacity: 1;
}

.process-highlights-feed__container_disabled {
  pointer-events: none;
}

.filters__title {
  @mixin h2;

  margin-bottom: 1.6rem;
  font-weight: 800;
  letter-spacing: -0.01em;
  color: var(--pneumatic-color-black100);
}

.filters__separator {
  margin-bottom: 3.2rem;
  border-top: 0.2rem solid var(--pneumatic-color-black100);
}

.filters__buttons {
  margin-top: 3.2rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.button_save-container {
  margin-right: 1.6rem;
}

.button_clear-container {
  padding: 1.2rem 0;
}

.feed__spinner {
  /* stylelint-disable-next-line declaration-no-important */
  position: absolute !important;
  align-self: center;
  /* stylelint-disable-next-line declaration-no-important */
  top: 100% !important;
}

.feed {
  position: relative;
  display: flex;
  flex-flow: column;
  /* The min height is needed for the infinite scroll to work properly  */
  min-height: 1rem;

  @media (--desktop) {
    padding-left: 2.4rem;
  }
}
