.container {
  width: 120px;
}

.loader {
  max-width: 8em;
  background: transparent;
  border-radius: 3px;
  fill: none;
  stroke: white;
  stroke-width: 8%;
  stroke-linecap: round;

  use {
    stroke: var(--pneumatic-color-link);
    animation: a 1s linear infinite;
  }
}

@keyframes a {
  to {
    stroke-dashoffset: 0;
  }
}
