/* stylelint-disable declaration-no-important */
/* stylelint-disable selector-pseudo-class-no-unknown */
:global {
  html,
  body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: white !important;
  }
}
