/* stylelint-disable declaration-no-important */
.container {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.breakdown {
  margin-bottom: 8px;
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 24px;
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 8px 24px rgba(98, 98, 95, 0.08);
  }

  @media (max-width: 999px) {
    padding: 32px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.breakdown_draft {
  background-color: var(--pneumatic-color-beige);
}

.breakdown__counters {
  flex-shrink: 0;

  @media (--desktop) {
    margin-left: 1.6rem;
  }

  @media (--mobile) {
    width: 100%;
  }
}

.breakdown__container {
  display: flex;
  min-height: 40px;
  justify-content: space-between;
  align-items: center;

  @media (--desktop) {
    width: calc(100% - 9.2rem);
  }

  @media (--mobile) {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;

    .breakdown__dashboard_cards {
      width: 100% !important;
    }
  }
}

.breakdown__container_no_toggle {
  cursor: auto;
}

.breakdown__dashboard_cards {
  margin: 0;
}

.breakdown__title {
  display: flex;
  overflow: hidden;
  color: var(--pneumatic-color-black100);
  transition: color 0.1s ease-in-out;
  align-items: center;

  &:hover {
    color: var(--pneumatic-color-link-hover);
  }

  @media (max-width: 999px) {
    margin-bottom: 16px;
  }
}

.breakdown__title-text {
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.breakdown__title-text_with-image {
  margin-left: 1.6rem;
  width: 100%;

  @media (--mobile) {
    margin-left: 0;
  }
}

.breakdown__task_card,
.breakdown__card {
  margin: 0 4px;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 8px;

  @media (--mobile) {
    flex-grow: 1;
  }
}

.breakdown__task_card {
  height: 20px;
  line-height: 20px;
}

.breakdown__head_container {
  overflow: hidden;
}

.breakdown__card:hover {
  color: white;
  background: var(--pneumatic-color-link-hover);
}

.breakdown__card-no_link:hover {
  color: #24d5a1;
  background: var(--pneumatic-notification-3-light);
}

.breakdown__dashboard_task_label {
  font-family: Nunito;
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
}

.breakdown__tasks {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid var(--pneumatic-color-black16);
  border-bottom: 1px solid var(--pneumatic-color-black16);
}
.breakdown__tasks-mode-worflows {
  margin: 3.2rem 0;
}
.breakdown__tasks-mode-tasks {
  margin: 3.2rem 0 0;
}

.breadown__loader {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

.task__container {
  margin-top: 8px;
  padding: 8px 0 16px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--pneumatic-color-black16);

  &:first-child {
    margin-top: 8px;
  }

  &:last-child {
    border-bottom: none;
  }

  @media (--desktop) {
    padding-right: 3.6rem;
  }

  @media (--mobile) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.task__name_container {
  display: flex;
  align-items: baseline;
  overflow: hidden;
  width: 100%;
}

.my_tasks__name {
  padding-left: 0 !important;
}

.task__number {
  flex-shrink: 0;
  width: 20px;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--pneumatic-color-black32);

  @media (--mobile) {
    display: none;
  }
}

.task__name {
  padding: 0 1.6rem;
  display: flex;
  width: 100%;
  flex-grow: 1;
  font-weight: bold;
  overflow-wrap: anywhere;
  color: var(--pneumatic-color-black100);

  &.task__name_empty {
    color: var(--pneumatic-color-black32);
  }

  div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    span {
      display: inline !important;
    }
  }

  @media (--mobile) {
    padding: 0;
    div {
      @mixin text-overflow 2;
    }
  }
}

.breakdown__dashboard_cards_label {
  font-family: 'Abhaya Libre', serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 40px;

  @media (--mobile) {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
  }
}

.breakdown__task_count {
  @media (--desktop) {
    margin-left: 1.6rem;
  }

  @media (--mobile) {
    margin: 0 -4px;
    margin-top: 8px;
    width: 100%;
  }
}

.task__badge {
  margin: 2px 8px;
}

.breakdown__card-blue {
  margin-left: 0;
  background: var(--pneumatic-notification-4-light);
}

.breakdown__card-yellow {
  background: var(--pneumatic-color-beige);
}

.breakdown__card-red {
  background: var(--pneumatic-background-red);
}

.breakdown__card-green {
  margin-right: 0.2rem;
  background: var(--pneumatic-notification-3-light);
}

.breakdown__skeleton {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (--mobile) {
    margin: 0 auto;
  }
}

.breakdown__skeleton-names {
  flex-grow: 1;
  margin-right: 16px;
  max-width: 536px;

  @media (--mobile) {
    display: none;
  }
}

.breakdown__skeleton-counters {
  margin: 0 -4px;
  display: flex;
  justify-content: space-between;
}

.breakdown__skeleton-counters-item {
  margin: 0 4px;
  display: inline-block;
  width: 40px;
  height: 40px;
}

.placeholder {
  display: flex;
  flex-direction: column;
}

.placeholder__new-template {
  margin-bottom: 16px;
}

.action-buttons-container {
  display: flex;

  @media (--mobile) {
    width: 100%;
    justify-content: center;
  }
}

.controls {
  margin: 0 -4px;
  display: flex;

  > * {
    margin: 0 4px;
  }

  @media (--mobile) {
    margin: 0;
    flex-direction: column;
    width: 100%;

    > * {
      margin-right: 0;
      margin-left: 0;
      width: 100%;
    }

    > *:not(:last-child) {
      margin-bottom: 8px;
    }

    div button {
      width: 100%;
    }
  }
}

.indicator-icon {
  display: flex;
}

.breakdown__container-wrapper {
  display: flex;
}

.card__more {
  margin-left: 16px;
  color: var(--pneumatic-color-black32);
  transition: color 0.1s ease-in-out;
}

.card__more:hover {
  color: var(--pneumatic-color-link-hover);
}

.card__more_disabled {
  opacity: 32%;
}

.card__more_disabled:hover {
  color: var(--pneumatic-color-black32);
  opacity: 32%;
}

.breakdown__head_container-wrapper {
  flex: 1;

  @media (--desktop) {
    overflow: hidden;
  }

  @media (--mobile) {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
.breakdown__title-link {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.breakdown__title-button {
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.breakdown__title-button:hover {
  color: var(--pneumatic-color-link-hover);
}
