/* stylelint-disable declaration-no-important, declaration-block-no-redundant-longhand-properties */
.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 1152px;
  margin: 0 auto;
}

.info {
  display: grid;
  grid-template-areas:
    'header header header sidebar'
    'main main main sidebar';
  grid-template-rows: 144px auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  @media (--mobile) {
    grid-template-areas:
      'header header header header'
      'main main main main'
      'sidebar sidebar sidebar sidebar';
    grid-template-rows: auto auto;
  }
}

.placeholder {
  margin-top: 188px;
  font-family: Nunito, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  color: #979795;
  text-align: center;
  white-space: pre-wrap;

  a {
    color: #fec336;
  }
}

.cards__wrapper {
  grid-area: header;
  max-width: 864px;

  @media (--mobile) {
    max-width: 100%;
  }
}

.activities {
  display: flex;
  flex-flow: column nowrap;
  grid-area: main;
  align-self: flex-start;
  justify-content: center;
  max-width: 864px;
  margin-top: 32px;
  margin-bottom: 0;
}

.activities__header {
  display: flex;
}

.activity-container {
  display: flex;
  flex: auto;
  min-width: 416px;
  height: fit-content;
  padding: 32px;
  padding-bottom: 20px;
  margin-bottom: 12px;
  margin-left: 32px;
  overflow-wrap: break-word;
  background: white;
  border-radius: 24px;

  &:first-child {
    margin-left: 0;
  }

  @media screen and (width <= 1200px) {
    min-width: auto;
  }
}

.widgets {
  display: flex;
  flex-direction: column;
  grid-area: sidebar;
  width: 160px !important;
  margin-left: 64px;

  @media (--mobile) {
    max-width: 100% !important;
    margin: 0 auto;
  }
}

.plan-details {
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
}

@media (--mobile) {
  .container {
    flex-direction: column-reverse;
    width: auto;
    max-width: 100%;
    padding-top: 0;
  }

  .activities {
    flex-flow: column;
    flex-wrap: wrap;
    align-items: baseline;
    max-width: 100%;
    margin-top: 0;
  }

  .activity-container {
    width: 100%;
    max-width: 384px;
    margin-top: 12px;
    margin-left: 0;
  }

  .info {
    flex: 0 0 100%;
  }

  .widgets {
    display: block;
    width: 100% !important;
    max-width: inherit;
    margin: 32px 0 0;
    text-align: center;
  }
}

@media screen and (width >= 1024px) and (height <= 1366px) and (orientation: portrait) {
  .container {
    width: auto;
    max-width: 1044px;
  }

  .activity-container {
    margin-bottom: 32px;
  }

  .activities {
    flex-wrap: wrap;
  }
}

@media screen and (width >= 1000px) and (width <= 1200px) {
  .container {
    width: auto;
    max-width: 1044px;
  }

  .activity-container {
    margin-bottom: 32px;
  }

  .activities {
    flex-wrap: wrap;
  }
}

.dashboard-color-blue {
  color: #3496c9;

  &:hover {
    color: #3496c9;
  }
}

.dashboard-color-red {
  color: #fc5b67;

  &:hover {
    color: #fc5b67;
  }
}

.dashboard-color-gray {
  color: #b9b9b8;

  &:hover {
    color: #b9b9b8;
  }
}

.dashboard-color-yellow {
  color: #fec336;

  &:hover {
    color: #fec336;
  }
}

.dashboard-color-green {
  color: #24d5a1;

  &:hover {
    color: #24d5a1;
  }
}

.skeleton-right {
  float: right;
}

.skeleton-left {
  float: left;
}

.tooltip-container {
  margin-top: 4px;
  margin-left: 9px;
}

.dashboard__tooltip {
  top: 7px !important;
}

.plan-details-additional {
  position: relative;
  margin-top: 32px;
}

.plan-details-quick-dashboard-overview {
  margin-bottom: 16px;
  font-size: 11px;
  font-weight: bold;
  line-height: 16px;
  color: var(--pneumatic-color-black32);
  text-align: center;
  text-transform: uppercase;
}

.plan-details-video {
  width: 160px;
  height: 100px;
  background: var(--pneumatic-color-black32);

  @media (--mobile) {
    height: 100px;
    margin: 54px auto 34px;
    transform: scale(1.75);
  }
}

.counter-loader {
  display: flex;
  padding-top: 18px;
}

.header-counter {
  flex-grow: 1;
  flex-basis: 0;
  width: 192px;
  height: 144px;
  padding-top: 32px;
  margin-left: 32px;
  text-align: center;
  overflow-wrap: break-word;
  user-select: none;
  background: white;
  border-radius: 16px;
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 8px 24px rgb(98 98 95 / 8%);
  }

  @media (--desktop) {
    &:first-child {
      margin-left: 0;
    }
  }

  span {
    font-size: 13px;
    line-height: 16px;
  }

  @media (--mobile) {
    flex: 0 0 calc(50% - 24px);
    margin: 8px;
  }
}

.mobile-counters {
  flex-direction: column;
  gap: 0.8rem;
  width: unset;
  padding: 0.2rem 1.3rem 3.2rem;
  margin: 0;

  a {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5.2rem;
    padding: 1.6rem 3.2rem;
    margin: 0;

    & > *:nth-child(2) {
      @mixin text-base bold;
    }
  }
}
