.embeded-workflows {
  margin-top: 32px;
  border-top: 1px solid var(--pneumatic-color-black16);
  border-bottom: 1px solid var(--pneumatic-color-black16);

  &__item + &__item {
    border-top: 1px solid var(--pneumatic-color-black16);
  }
}

.workflow-embeded {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;

  &__more {
    color: var(--pneumatic-color-black32);
  }

  &__more.is-active {
    color: var(--pneumatic-color-link-hover);
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__dropdown {
    margin-right: 16px;
  }

  &__urgent {
    position: relative;
    top: -2px;
    min-width: 20px;
    margin-right: 16px;
  }

  &__title {
    margin-right: 16px;

    button {
      /* stylelint-disable-next-line value-no-vendor-prefix */
      display: -webkit-box;
      padding: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      font-weight: bold;
      text-align: left;
      word-break: break-all;
      outline: none;
      background-color: transparent;
      border: none;

      /* stylelint-disable-next-line property-no-vendor-prefix */
      -webkit-box-orient: vertical;
    }
  }

  &__progress {
    width: 80px;
    min-width: 80px;
  }
}
