.kickoff-outputs {
  width: 100%;
}

.kickoff-outputs__header {
  margin-bottom: 16px;
}

.header-title {
  display: flex;
  align-items: center;
  font-family: Nunito, sans-serif;
  font-size: 11px;
  font-weight: 800;
  line-height: 16px;
  color: #b9b9b8;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.header-title__edit {
  all: unset;
  margin: 0 0 0 10px;
  color: var(--pneumatic-color-link);
  transition: color 0.1s ease-in-out;

  &:hover {
    color: var(--pneumatic-color-link-hover);
  }
}

.header__description {
  display: block;
  margin-top: 16px;
  font-family: Nunito, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #262522;
}

.output {
  display: block;
  width: 100%;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;

  &:last-child {
    margin-bottom: 0;
  }
}

.output__name {
  display: block;
  font-family: Nunito, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #262522;
}

.output__text {
  display: block;
  font-family: Nunito, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: var(--pneumatic-color-black72);
  overflow-wrap: break-word;
}

.output__url {
  width: 100%;
  font-family: Nunito, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: var(--pneumatic-color-link-dark);
  white-space: nowrap;
  text-decoration: underline;
  transition: color 0.1s ease-in-out;

  &:hover {
    color: var(--pneumatic-color-link-hover);
  }
}

.fieldset-output-group {
  padding-left: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-left: 3px solid var(--pneumatic-color-link);
}

.fieldset-output-group__title {
  margin: 0 0 4px;
  font-family: Nunito, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  color: #262522;

  @mixin text-wrap;
}

.fieldset-output-group__description {
  margin: 0 0 8px;
  font-family: Nunito, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #79756d;

  @mixin text-wrap;
}
