.dropdown-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;

  --dropdown-list-control-padding: 1.1rem 1.6rem;
}

.dropdown-select-wrapper_label-left {
  flex: 1;
  min-width: 0;
}

.kickoff-create-field-container {
  flex-grow: 1;
  max-width: calc(100% - 4rem);

  .measure {
    position: absolute;
    top: -99999px;
    left: -99999px;
    font-family: Nunito, sans-serif;
    font-size: 1.504rem;
    line-height: 1.6rem;
    white-space: pre;
  }
}

.kickoff-create-field-options-wrapper_label-left {
  min-width: 0;
  max-width: calc(55% - 3.2rem);
  margin-left: calc(45% + 3.2rem);
}

.kickoff-create-field-name {
  position: relative;
  display: inline-block;
  max-width: 100%;
}

.kickoff-create-field-name-input {
  max-width: calc(100% - 0.5rem);
  margin-bottom: 0.8rem;
  border: none;

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: text;
    background: white;
  }
}

.kickoff-create-field-options {
  padding: 0;
  margin: 0;
  margin-top: 0.8rem;
  list-style: none;
}

.kickoff-create-field-option {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin: 0 0 0.8rem;
}

.kickoff-create-field__input-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
}

.kickoff-create-field-option__remove {
  margin-left: 0.8rem;
  cursor: pointer;
}

.kickoff-create-field-option__input {
  max-width: 100%;
  border: none;

  @mixin text-truncate;

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: text;
    background: white;
  }
}

.kickoff-create-field-add-option {
  @mixin btn-field-action;

  width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
}

.kickoff-set-field-container {
  display: block;
}

.kickoff-set-field-name {
  position: relative;
  display: inline-block;
  padding-right: 0.7rem;
  margin-bottom: 0.8rem;
  color: var(--pneumatic-color-black72);
}

.kickoff-set-field-options {
  padding: 0;
  margin: 0;
  list-style: none;
}

.kickoff-set-field-option {
  display: flex;
  align-items: center;
  margin: 0 0 0.8rem;
}

.kickoff-create-field__error-text {
  margin-top: 0.4rem;
  margin-bottom: 0;
  font-family: Nunito, sans-serif;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #fc5b67;
}
