/* stylelint-disable declaration-no-important */
.buttons-wrapper {
  display: flex;
  align-items: center;
  margin: 0 32px 0 0;

  @media (--mobile) {
    margin: 0 0 24px;
  }
}

.navbar-left__content {
  display: flex;
  align-items: baseline;

  @media (--mobile) {
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;
  }
}

.filters {
  display: flex;

  @media (--mobile) {
    display: block;
    width: 100%;
  }

  & > *:not(:last-child) {
    margin-right: 8px;

    @media (--mobile) {
      margin-right: 0;
      margin-bottom: 8px;
    }
  }
}
