.container {
  position: relative;
  z-index: 1;
  padding: 32px;

  @media (--mobile) {
    padding: 32px 0;
  }

  &::before {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: '';
    border-radius: 24px;

    @media (--mobile) {
      right: -32px;
      left: -32px;
    }
  }
}

.container-beige {
  &::before {
    background: var(--pneumatic-color-beige);
  }
}

.container-white {
  &::before {
    background: white;
  }
}

.text {
  margin: 0;
  color: var(--pneumatic-color-black100);
}
