.container {
  position: relative;
  padding: 0.6rem 1.6rem;
  display: flex;
  background: var(--pneumatic-color-white);
  border-radius: 1.6rem;

  @media (--mobile) {
    width: 100%;
  }
}

.container--select-menu {
  @media (--mobile) {
    width: calc(100% - 4.2rem);
  }
}

.filter-select__dropdown {
  width: 100%;
}

.filter-select__dropdown_clearable {
  padding-right: 2.4rem;
}

.dropdown-menu {
  --dropdown-menu-width: 19.2rem;

  margin-top: 0.6rem;
  margin-left: -1.6rem;

  @media (--mobile) {
    --dropdown-menu-width: 100%;
  }
}

.dropdown-menu__position-fixed {
  @media (--mobile) {
    max-width: 27.5rem;
  }
}

.dropdown-menu__position-fixed--select-menu {
  @media (--mobile) {
    margin-top: 2.6rem;
  }
}

.dropdown-menu_search {
  --dropdown-menu-width: 30.4rem;

  @media (--mobile) {
    --dropdown-menu-width: 100%;
  }
}

.dropdown-menu_wide {
  --dropdown-menu-width: 52.8rem;

  @media (--mobile) {
    --dropdown-menu-width: 100%;
  }
}

.dropdown-menu__scrollbar {
  margin-right: 0;
  padding-right: 0;
  height: 100%;
  max-height: 20rem;
}

.dropdown-item-check {
  width: 100%;
}

.dropdown-item-check__label {
  width: 100%;
  cursor: pointer;
  align-items: center;
}

.dropdown-item-check__title {
  width: calc(100% - 2.8rem);
}

.dropdown-item-content {
  display: flex;
  width: 100%;
  gap: 0.8rem;
  align-items: center;
}

.dropdown-item-content__text {
  @mixin text-truncate;

  min-width: 0;
  flex: 1 1 0;

  > * {
    @mixin text-truncate;
  }
}

.dropdown-item-content__count {
  @mixin text-small-extra bold;

  display: flex;
  min-width: 2rem;
  height: 2rem;
  letter-spacing: 0.05em;
  color: var(--pneumatic-color-black48);
  border-radius: 1.2rem;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
}

.dropdown-item__text_stub {
  @mixin text-base;

  color: var(--pneumatic-color-black32);
}

.active-value {
  @mixin text-small bold;

  padding: 0;
  display: flex;
  width: 100%;
  white-space: nowrap;
  color: var(--pneumatic-color-black100);
  background: transparent;
  border: 0;
  align-items: center;

  &:not(.active-value_clear-hovered):not([disabled]):hover {
    color: var(--pneumatic-color-link-hover);
  }

  .active-value__text {
    @mixin text-truncate;

    margin-right: 0.8rem;
  }

  &[aria-expanded='true'] .expand-icon {
    transform: rotate(180deg);
  }

  .expand-icon {
    margin-left: auto;
    color: var(--pneumatic-color-black32);
    transition: transform 0.3s;
    flex-shrink: 0;
  }

  @media (--mobile) {
    letter-spacing: 0;
  }
}

.active-value__text div {
  @mixin text-truncate;

  span {
    display: inline;
  }
}

.active-value_disabled {
  pointer-events: none;
}

.filter-select_disabled {
  opacity: 0.32;
}

.value-item {
  @mixin text-base;

  padding: 0.6rem 1.2rem;
  display: flex;
  width: 100%;
  min-height: 3.2rem;
  text-align: left;
  cursor: pointer;
  color: var(--pneumatic-color-black100);
  background: transparent;
  border: 0;
  border-radius: 0.4rem;
  align-items: center;

  &:hover,
  &:focus-visible {
    color: var(--pneumatic-color-link-hover);
    background: var(--pneumatic-color-beige);
    outline: none;
  }

  &__disabled {
    pointer-events: none;
    color: var(--pneumatic-color-black32);
  }
}

.value-item__select-all {
  font-weight: 600;
}

.sorting-item__search {
  position: relative;
  margin: -0.4rem -0.4rem 0;
}

.search__input {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  border: 0;
}

.search__separator {
  margin: 0 -0.4rem 1rem;
  border-color: var(--pneumatic-color-black16);
}

.icon {
  margin-right: 0.4rem;
  flex-shrink: 0;
}

.clear-button {
  all: unset;
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 1.6rem;
  cursor: pointer;
  color: var(--pneumatic-color-black32);
  transition: color 0.1s ease-in-out;
  transform: translateY(-50%);

  &:not(:disabled):hover {
    color: var(--pneumatic-color-link-hover);
  }

  &:focus-visible {
    border-radius: 50%;
    outline: 0.2rem solid var(--pneumatic-color-black48);
    outline-offset: 0.2rem;
  }
}

.dropdown-item-content__title {
  @mixin text-small-extra bold;
  @mixin text-truncate;

  padding: 0.8rem 1.2rem 0.4rem;
  letter-spacing: 0.06rem;
  text-transform: uppercase;
  color: var(--pneumatic-color-black48);
}

.dropdown-menu__skeleton {
  padding: 0.4rem 1.2rem;
}

.dropdown-menu__skeleton-item {
  margin-bottom: 0.8rem;
}

.dropdown-menu__skeleton-item_last {
  margin-bottom: 0;
}
