/* stylelint-disable declaration-no-important */
.container {
  padding: 0.6rem 1.6rem;
  display: flex;
  background: var(--pneumatic-color-white);
  border-radius: 1.6rem;

  @media (--mobile) {
    width: calc(100%);
  }
}
.container--select-menu {
  @media (--mobile) {
    width: calc(100% - 4.2rem);
  }
}

.dropdown-menu {
  margin-top: 0.6rem !important;
  margin-left: -1.6rem !important;
  width: 19.2rem;

  @media (--mobile) {
    width: 100%;
  }
}

.dropdown-menu__position-fixed {
  @media (--mobile) {
    max-width: 27.5rem;
  }
}

.dropdown-menu__position-fixed--select-menu {
  @media (--mobile) {
    margin-top: 2.6rem !important;
  }
}

.dropdown-menu_search {
  width: 30.4rem;

  @media (--mobile) {
    width: 100%;
  }
}

.dropdown-menu__scrollbar {
  margin-right: 0 !important;
  padding-right: 0 !important;
  height: 100%;
  max-height: 20rem;
}

.dropdown-item_search {
  cursor: text;

  &:hover,
  &:active,
  &:focus {
    background-color: var(--pneumatic-color-white) !important;
  }
}

.dropdown-item-check {
  width: 100%;
}

.dropdown-item-check__label {
  width: 100%;
  cursor: pointer;
  align-items: center;
}

.dropdown-item-check__title {
  width: calc(100% - 2.8rem);
}

.dropdown-item-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.dropdown-item-content__text {
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;

  > * {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.dropdown-item-content__subtitle {
  margin: 0 0.8rem;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.6rem;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--pneumatic-color-black48);
}

.dropdown-item-content__count {
  margin-left: auto;
  padding: 0 0 0 1.2rem;
  display: flex;
  min-width: 2rem;
  height: 2rem;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.6rem;
  letter-spacing: 0.05em;
  color: var(--pneumatic-color-black48);
  border-radius: 1.2rem;
  align-items: center;
  justify-content: center;
}

.dropdown-item__text_stub {
  font-family: Nunito, sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--pneumatic-color-black32);
}

.active-value {
  padding: 0;
  display: flex;
  width: 100%;
  font-size: 1.3rem;
  font-weight: bold !important;
  line-height: 1.6rem;
  white-space: nowrap;
  color: var(--pneumatic-color-black100);
  background: transparent;
  border-width: 0;
  align-items: center;

  &:not(.active-value_clear-hovered):not([disabled]):hover {
    color: var(--pneumatic-color-link-hover);
  }

  .active-value__text {
    margin-right: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &[aria-expanded='true'] {
    .expand-icon {
      transform: rotate(180deg);
    }
  }

  .expand-icon {
    margin-left: auto;
    color: var(--pneumatic-color-black32);
    transition: transform 0.3s;
    flex-shrink: 0;
  }

  @media (--mobile) {
    letter-spacing: 0;
  }
}

.active-value__text {
  div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    span {
      display: inline !important;
    }
  }
}

.active-value_disabled {
  pointer-events: none;
}

.filter-select_disabled {
  opacity: 32%;
}

.value-item {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  display: flex !important;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.6rem;
  color: var(--pneumatic-color-black100) !important;
  align-items: center;

  &:hover {
    color: var(--pneumatic-color-link-hover) !important;
    background: var(--pneumatic-color-beige) !important;
    border-radius: 0.4rem;
  }

  &__disabled {
    pointer-events: none;
    color: var(--pneumatic-color-black32) !important;
  }
}

.value-item__select-all {
  font-weight: bold !important;
}

.sorting-item__search {
  position: relative;
  margin: -0.4rem -0.4rem 0;
}

.search__input {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  width: 100% !important;
  border: 0 !important;
}

.search__separator {
  margin: 0 -0.4rem 1rem;
  border-color: var(--pneumatic-color-black16);
}

.icon {
  margin-right: 0.4rem;
  flex-shrink: 0;
}

.filter-container {
  padding: 0 !important;
}

.clear-button {
  all: unset;
  margin-left: auto;
  color: var(--pneumatic-color-black32);
  transition: transform 0.3s color 0.1s;
  flex-shrink: 0;

  &:not([aria-disabled='true']):hover {
    color: var(--pneumatic-color-link-hover);
  }
}

.dropdown-item-content__title {
  letter-spacing: 0.06rem;
  text-transform: uppercase;
  color: var(--pneumatic-color-black48);

  @mixin text-small-extra bold;
  @mixin text-truncate;
}
