@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideDown {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.side-modal {
  position: fixed;
  z-index: 1050;
  top: 1rem;
  right: 0;
  bottom: 1rem;
  padding: 3.2rem;
  overflow: hidden;
  width: 41.6rem;
  max-width: calc(100% - 1.6rem);
  color: var(--pneumatic-color-white);
  background-color: var(--pneumatic-color-black100);
  border-radius: 3.2rem 0 0 3.2rem;
}

.side-modal_none-pedding-right {
  padding-right: 0;
}

.side-modal_opened {
  animation: slideIn var(--menu-collapse-time) ease-out;
}

.side-modal_closed {
  animation: slideDown var(--menu-collapse-time) ease-out;
}

.side-modal_close {
  position: absolute;
  z-index: 1;
  top: 3rem;
  right: 2.5rem;
  cursor: pointer;
  background-color: transparent;
  border: 0;

  svg {
    fill: var(--pneumatic-color-black72);
    transition: fill 0.3s;
  }

  &:hover svg {
    fill: var(--pneumatic-color-white);
  }
}

.side-modal_close-is-from-view-modal {
  right: 3.7rem;
}

.side-modal-parts {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.side-modal-parts_header {
  margin-right: 3rem;
  min-height: 2.4rem;
}

.side-modal-parts_body {
  min-height: 2rem;
  flex-grow: 1;
}

.side-modal-parts_footer {
  min-height: 2rem;
}
