.container {
  display: flex;
  flex-flow: row;
}

.avatar {
  margin-right: 16px;

  @media (--mobile) {
    margin-right: 8px;
  }
}

.title {
  margin: 0 -8px 0 0;
  padding-right: 64px;
  display: inline-flex;
  font-size: 15px;
  line-height: 20px;
  color: var(--pneumatic-color-black100);
  flex-wrap: wrap;
  align-items: center;
}

.title__text {
  margin-right: 8px;
}

.title__icon {
  position: relative;
  top: -1px;
  margin-right: 8px;
  font-size: 0;
  color: var(--pneumatic-color-black32);
}

.title__date {
  margin-right: 8px;
  font-size: 13px;
  font-weight: bold;
  line-height: 16px;
  color: var(--pneumatic-color-black48);

  @media (--mobile) {
    display: block;
  }
}

.workflow-log-return__status {
  @mixin text-base bold;

  color: var(--pneumatic-color-black72);
}

.workflow-log-return__message {
  color: var(--pneumatic-color-black72);
}
