.lexical-wrapper {
  position: relative;

  &_multiline {
    display: flex;
    flex-direction: column;
    min-height: 15.4rem;
  }

  &_in-task-description-editor {
    @media (--mobile) {
      margin-right: -4rem;
      min-height: 20.2rem;
    }
  }

  &_with-title {
    padding-top: 0.8rem;
  }
}
