/* stylelint-disable order/properties-order */
/* stylelint-disable declaration-no-important */
/* stylelint-disable property-no-vendor-prefix */
.input {
  border: 0.1rem solid var(--pneumatic-color-black16) !important;
  border-radius: 0.8rem !important;
  transition: 0.1s ease-in-out border-color;

  &:not(.input_error):active,
  &:not(.input_error):focus {
    border-color: var(--pneumatic-color-black48) !important;
  }
}

.input_with-icon {
  padding-right: 5rem !important;
}

.icon-container {
  position: relative;
}

.icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  width: 5rem;
  pointer-events: none;
  color: var(--pneumatic-color-black16);
  justify-content: center;
  align-items: center;
}

.field__error-text {
  margin-top: 0.4rem;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-start;
  min-height: 1.6rem;
  font-family: Nunito, sans-serif;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: var(--pneumatic-color-warning);
}

.input_error,
.textarea_error {
  border-color: var(--pneumatic-color-warning) !important;
}

.rich-editor {
  min-height: 12.8rem;
}
