.skeleton {
  margin-bottom: 16px;
  overflow: visible;
  width: 100%;
}

.skeleton__data {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-flow: column;

  &.is-white {
    background-color: red;
  }

  @media (--mobile) {
    padding-bottom: 12px;
  }
}
