.short-arrow-box {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-right: 1.6rem;
  border: 1px solid var(--pneumatic-color-black16);
  border-radius: 0.8rem;
}

.short-arrow-box:hover {
  border-color: var(--pneumatic-color-link-hover);
}

.short-arrow-rotated {
  transform: rotate(180deg);
  transition: transform 0.3s;
}

.short-arrow {
  transition: transform 0.3s;
}

.short-arrow path,
.short-arrow-rotated path {
  fill: var(--pneumatic-color-black48);
}

.short-arrow-box:hover,
.short-arrow-box:hover path {
  fill: var(--pneumatic-color-link-hover);
}
