.title {
  margin-bottom: 32px;
  text-align: center;
}

.oauth {
  display: flex;
  margin: -4px;

  @media (--mobile) {
    flex-direction: column;
  }

  &__button {
    width: 100%;
    margin: 4px;
  }
}

.divider {
  position: relative;
  margin: 16px 0;
  text-align: center;

  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    content: '';
    border-top: 1px solid var(--pneumatic-color-black16);
  }

  p {
    position: relative;
    display: inline-block;
    padding: 0 8px;
    margin: 0;
    color: var(--pneumatic-color-black48);
    background: white;
  }
}

.form {
  &__field + &__field {
    margin-top: 8px;
  }

  &__captcha {
    max-width: 100%;
    margin-top: 8px;
  }

  &__terms {
    margin: 16px 0 0;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
  }

  &__settings {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
    line-height: 20px;
  }

  &__submit {
    width: 100%;
    margin-top: 16px;
  }
}

.footnote {
  margin-top: 32px;
  line-height: 20px;
  color: var(--pneumatic-color-black72);
  text-align: center;
}

.footnote-register {
  margin-top: 1.6rem;
}

.link {
  line-height: 20px;
  color: var(--pneumatic-color-link-dark);
  transition: color 0.1s ease-in-out;

  &:hover {
    color: var(--pneumatic-color-link-hover);
  }
}

.form__terms {
  white-space: pre-line;
}
