.dropdown-list {
  position: relative;
}

.dropdown-list_labeled {
  padding-top: 0.8rem;
}

.dropdown-list_disabled {
  cursor: not-allowed;
  opacity: 0.32;

  .dropdown-list__toggle,
  .dropdown-list__option {
    pointer-events: none;
  }
}

.dropdown-list__label {
  @mixin text-small;

  position: absolute;
  top: 0;
  left: 1.2rem;
  z-index: 1;
  padding: 0 0.4rem;
  margin: 0;
  color: var(--pneumatic-color-black72);
  background-color: var(--pneumatic-color-white);
}

.dropdown-list__required {
  margin-left: 0.2rem;
  color: var(--pneumatic-color-warning);
}

.dropdown-list__error {
  @mixin text-small;

  margin: 0.4rem 0 0;
  color: var(--pneumatic-color-warning);
}

.dropdown-list__dropdown {
  width: 100%;
}

.dropdown-list__toggle {
  width: 100%;
}

.dropdown-list__control {
  @mixin text-base;

  display: flex;
  gap: 0.8rem;
  align-items: center;
  width: 100%;
  min-height: var(--dropdown-list-control-min-height, 4rem);
  padding: var(--dropdown-list-control-padding, 0.9rem 1.6rem);
  color: var(--pneumatic-color-black100);
  text-align: left;
  border: 0.1rem solid var(--separator-color);
  border-radius: 0.8rem;
  transition: border-color 0.1s ease-in-out;

  .dropdown-list__toggle:hover &,
  &.dropdown-list__control_open {
    border-color: var(--pneumatic-color-black48);
  }

  .dropdown-list_labeled & {
    --dropdown-list-control-padding: 1.1rem 1.6rem;
  }
}

.dropdown-list__toggle:hover .dropdown-list__control_error,
.dropdown-list__control_error,
.dropdown-list__control_error.dropdown-list__control_open {
  border-color: var(--pneumatic-color-warning);
}

.dropdown-list__value {
  @mixin text-truncate;

  flex: 1 1 0;
  min-width: 0;
}

.dropdown-list__value_placeholder {
  color: var(--pneumatic-color-black32);
}

.dropdown-list__arrow {
  flex-shrink: 0;
  color: var(--pneumatic-color-black32);
  transition: transform 0.3s;
}

.dropdown-list__arrow_open {
  transform: rotate(180deg);
}

.dropdown-list__menu_lg {
  width: 100%;
  overflow: hidden;
}

.dropdown-list__menu_sm {
  width: 30.4rem;
  overflow: hidden;
}

.dropdown-list__menu_static {
  position: relative;
}

.dropdown-list__scrollbar {
  max-height: 35.2rem;
  padding-right: 0;
  margin-right: 0;
}

.dropdown-list__option {
  @mixin text-base;

  display: flex;
  align-items: center;
  width: 100%;
  min-height: 3.2rem;
  padding: 0.6rem 1.2rem;
  overflow: hidden;
  color: var(--pneumatic-color-black100);
  text-align: left;
  cursor: pointer;
  background: transparent;
  border: 0;
  border-radius: 0.4rem;

  &:hover,
  &:focus-visible {
    color: var(--pneumatic-color-link-hover);
    outline: none;
    background: var(--pneumatic-color-beige);
  }

  > * {
    flex: 1 1 0;
    min-width: 0;
  }
}

.dropdown-list__option_focused {
  color: var(--pneumatic-color-link-hover);
  background: var(--pneumatic-color-beige);
}

.dropdown-list__group {
  display: block;
}

.dropdown-list__group-heading {
  @mixin text-small-extra bold;

  padding: 1rem 1.2rem 0.4rem;
  color: var(--pneumatic-color-black48);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.dropdown-list__no-options {
  @mixin text-base;

  padding: 0.6rem 1.2rem;
  color: var(--pneumatic-color-black32);
}

.dropdown-list__search {
  position: relative;
  margin: -0.4rem -0.4rem 0;
}

.dropdown-list__search-input {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 0;
}

.dropdown-list__search-separator {
  margin: 0 -0.4rem 1rem;
  border-color: var(--pneumatic-color-black16);
}
