.comment {
  display: flex;

  &__avatar {
    margin-right: 1.6rem;

    @media (--mobile) {
      margin-right: 1rem;
    }
  }

  &__body {
    flex-grow: 1;
  }

  &__info {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;

    svg {
      display: inline-block;
    }
  }

  &__user {
    margin: 0;
    margin-right: 0.8rem;
    font-family: Nunito, sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  &__task-name {
    margin: 0 0 0.8rem;
    color: var(--pneumatic-color-black72);

    @mixin text-base 700;
  }

  &__icon {
    margin-right: 0.8rem;
    line-height: 2rem;
    color: var(--pneumatic-color-black32);

    &.is-delete {
      color: var(--pneumatic-notification-1);
    }
  }

  &__date {
    margin-right: 0.8rem;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.6rem;
    color: var(--pneumatic-color-black48);
  }

  &__actions {
    display: flex;
    align-items: baseline;

    button {
      padding: 0;
      display: block;
      background-color: transparent;
      border: none;
      transition: all 0.2s;

      &:hover {
        color: var(--pneumatic-color-link);
      }
    }
  }

  &__delete {
    margin-right: 0.8rem;
    font-size: 1.3rem;
    line-height: 1.6rem;
    color: var(--pneumatic-notification-1);
  }

  &__delete-sure p {
    margin: 0;
    display: flex;
    align-items: baseline;
    font-size: 1.3rem;
    line-height: 1.6rem;
    color: var(--pneumatic-color-black32);

    button {
      font-size: 1.3rem;
      line-height: 1.6rem;
      color: var(--pneumatic-notification-1);
      transition: all 0.2s;

      &:hover {
        color: var(--pneumatic-color-link);
      }
    }
  }

  &__edit {
    font-size: 1.3rem;
    line-height: 1.6rem;
    color: var(--pneumatic-color-link-dark);
  }

  &__content {
    color: var(--pneumatic-color-black72);
  }

  &__footer {
    margin: 0.8rem -0.2rem -0.2rem;
    display: flex;
    flex-wrap: wrap;

    button {
      margin: 0;
      padding: 0;
      background: transparent;
      border: none;
    }
  }

  &__footer-item {
    margin: 0.2rem;
    padding: 0.6rem 0.8rem;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    font-size: 1.3rem;
    cursor: pointer;
    color: var(--pneumatic-color-black72);
    background-color: var(--pneumatic-color-beige);
    border-radius: 1.6rem;

    &.is-modal {
      background-color: var(--pneumatic-color-white);
    }

    > div {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    svg,
    &-emoji {
      margin-right: 0.4rem;
      font-size: 2rem;
      line-height: 2rem;
    }

    span {
      line-height: 1.9rem;
    }

    &.is-add-emoji {
      margin: 0;
      padding: 0;
      background-color: transparent;

      button {
        margin-left: 0.6rem;
        color: var(--pneumatic-color-link-dark);
      }
    }
  }

  &__footer-item + &__footer-item {
    margin-left: 0.4rem;
  }

  &__watch-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.3rem;
    line-height: 1.6rem;
    text-align: center;
  }
}
