/* stylelint-disable declaration-no-important */
.container {
  max-width: 864px;
  margin: 0 auto;
}

.search {
  position: relative;
  width: 100%;
  margin-bottom: 32px;

  &__icon {
    position: absolute;
    top: 50%;
    margin-left: 16px;
    color: var(--pneumatic-color-black72);
    transform: translateY(-50%);
  }

  &-field {
    margin-bottom: 32px;
  }

  &-field__input {
    padding-left: 48px !important;
    background-color: var(--background-color);
  }
}

.groups {
  width: 100%;

  &__item + &__item {
    margin-top: 0.8rem;
  }
}
