.pneumatic-frontend-main-wrapper {
  height: 100%;
}

@media print {
  /* stylelint-disable declaration-no-important */
  .pneumatic-frontend-main-wrapper {
    overflow: visible !important;
    height: auto !important;
  }
}
