:global {
  .checkable-list-item {
    list-style: none;
    transform: translateX(-1.5em);
  }
}

.checkable-list-item-block {
  position: relative;
  margin-bottom: 8px;
  display: flex;
}

.checkable-list-item-block__checkbox {
  position: absolute;
  cursor: default;
  pointer-events: none;
}

.checkable-list-item-block__checkbox-inner {
  display: flex;
}

.checkable-list-item-block__text {
  margin-left: 2.8rem;
  min-width: 0.1rem;
}
