/* stylelint-disable property-no-vendor-prefix */
/* stylelint-disable value-no-vendor-prefix */
/* stylelint-disable declaration-no-important */
.container {
  margin: 0 auto;
  max-width: 108.8rem;

  @media (--mobile) {
    margin-right: 1.6rem;
    margin-left: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.filters {
  margin-right: 6.4rem;
  margin-bottom: 3.2rem;
  width: 27.2rem;
  min-width: 27.2rem;

  @media (--mobile) {
    width: 100%;
  }
}

.content {
  flex-grow: 1;
  flex-basis: 0;
}

.search {
  position: relative;
}

.search__icon {
  position: absolute;
  top: 50%;
  margin-left: 1.6rem;
  color: var(--pneumatic-color-black72);
  transform: translateY(-50%);
}

.search-field {
  margin-bottom: 1.6rem;
}

.search-field__input {
  padding-left: 4.8rem !important;
  background-color: var(----background-color);
}

.cards {
  margin: 0 -0.8rem;
  display: flex;
  overflow: visible !important;
  flex-wrap: wrap;

  @media (--mobile) {
    margin: 0;
  }
}

.card-wrapper {
  margin: 0 0.8rem 1.6rem;
  width: calc(50% - 3.2rem);
  max-width: 35.2rem;

  @media (--mobile) {
    margin: 0 0 1.6rem;
    width: 100%;
    max-width: 100%;
  }
}

.card {
  position: relative;
  padding: 3.2rem 7.2rem 3.2rem 3.2rem;
  display: flex;
  flex-flow: column;
  color: var(--pneumatic-color-black100);
  border-radius: 2.4rem;
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    color: var(--pneumatic-color-link-hover);
    box-shadow: 0 0.8rem 2.4rem rgba(98, 98, 95, 0.08);
  }
}

.card-process-based {
  background-color: var(--pneumatic-color-white);
  border: 0.1rem solid var(--pneumatic-color-white);
}

.card-process-finished {
  background-color: var(--pneumatic-color-notification3-light);
  border: 0.1rem solid var(--pneumatic-color-notification3-light);
}

.card-active-task-overdue {
  background-color: var(--pneumatic-color-notification1-light);
  border: 0.1rem solid var(--pneumatic-color-notification1-light);
}

.card-loading {
  padding: 3.2rem 1.6rem 1.6rem;
}

.card-pending {
  composes: card;
  cursor: wait;
  pointer-events: none;
  opacity: 0.7;

  .loading {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    opacity: 1;
  }
}

.dropdown {
  position: absolute;
  top: 3.2rem;
  right: 3.2rem;
}

.card-more {
  cursor: pointer;
  color: var(--pneumatic-color-black32);
  transition: color 0.1s ease-in-out;

  &.card-more_active,
  &:hover {
    color: var(--pneumatic-color-link-hover);
  }
}

.card-title {
  position: relative;
  margin-right: -0.5rem;
  margin-bottom: 1.6rem;
  padding-right: 0.5rem;
  height: 4.8rem;
  font-family: 'Abhaya Libre', 'Times New Roman', Arial;
  font-size: 2rem;
  font-weight: 800;
  line-height: 2.4rem;
  letter-spacing: -0.01em;

  @supports (-webkit-line-clamp: 2) {
    display: -webkit-box;
    overflow: hidden;
    white-space: initial;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.card:hover .card-title {
  color: var(--pneumatic-color-link-hover);
}

.card-pretitle {
  display: block;
  overflow: hidden;
  font-size: 1.3rem;
  line-height: 1.6rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--pneumatic-color-black48);
}

.workflow-group {
  margin: 0 -1.5rem;
  width: 100%;
  flex-flow: wrap;
  max-width: 112.2rem;
  flex-grow: 1;
}

.workflow-title {
  margin-bottom: 3.2rem;

  span {
    padding: 0 1.7rem;
    display: block;
    font-family: 'Abhaya Libre', serif;
    font-size: 2.8rem;
    font-weight: 800;
    line-height: 3.2rem;
    letter-spacing: -0.01em;
    word-break: break-word;
  }
}

.card-footer {
  margin: auto -5.6rem -1.6rem -1.6rem;
  padding: 1.6rem;
  height: 9.8rem;
  color: var(--pneumatic-color-black100);
  background: var(--pneumatic-color-beige);
  border-radius: 1.6rem;

  .footer-users-and-links {
    display: flex;
    align-items: center;
    flex-flow: row;
  }
}

.card-footer-base {
  background: var(--pneumatic-color-beige);
}

.card-footer-white {
  background: var(--pneumatic-color-white);
}
.card-task {
  margin-bottom: 0.8rem;
  font-family: Nunito, sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--pneumatic-color-black100);
}

.card-extra-text {
  color: var(--pneumatic-color-black32);
}

.progress-bar-container {
  margin-bottom: 0.8rem;
}

:global {
  .infinite-scroll-component__outerdiv {
    width: 100%;
  }
}

.dropdown-menu__scrollbar {
  margin-right: 0 !important;
  padding-right: 0 !important;
  height: 100%;
  max-height: 18.5rem;
}

.filter:not(:last-child) {
  margin-bottom: 1.6rem;
}

.placeholder {
  position: static;
}

.filter-buttons {
  margin-top: 3.2rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.filter-buttons__apply {
  margin-right: 1.6rem;
}

.filter-buttons__clear {
  padding: 0.8rem 0 !important;
}

.placeholder {
  text-align: center;
}

.placeholder__title {
  margin: 0 0 1.6rem;
  font-family: 'Abhaya Libre', 'Times New Roman', Arial;
  font-size: 2rem;
  font-weight: 800;
  line-height: 2.4rem;
  color: var(--pneumatic-color-black32);
}

.placeholder__text {
  margin: 0;
  font-family: Nunito, sans-serif;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: var(--pneumatic-color-black48);
}

.run-workflow-card {
  position: relative;
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 23.2rem;
  align-items: flex-start;
  color: var(--pneumatic-color-link-dark);
  border: 1px solid var(--pneumatic-color-link-dark);
  border-radius: 2.4rem;
  transition: all 0.1s ease-in-out;

  &:hover {
    color: var(--pneumatic-color-link-hover);
    border-color: var(--pneumatic-color-link-hover);
    box-shadow: 0 0.8rem 24rem rgba(98, 98, 95, 0.08);
  }
}

.run-workflow-card__text {
  @supports (-webkit-line-clamp: 2) {
    display: -webkit-box;
    overflow: hidden;
    white-space: initial;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
.run-workflow-card__extra-text {
  margin-top: 0.8rem;
  text-align: left;
  color: var(--pneumatic-color-black72);

  @mixin text-small normal;
}

.dropdown-delete {
  font-size: 1.5rem;
  line-height: 2.3rem;
  color: var(--pneumatic-notification-1) !important;
}

.item__separator {
  margin: 0.5rem 1.2rem;
  width: calc(100% - 2.4rem);
}

.dropdown-menu {
  width: 19.2rem;
}

.dropdown-submenu {
  top: -4rem !important;
  right: 6.8rem !important;
  left: auto !important;
  width: 30.4rem;

  @media (--mobile) {
    right: 6rem !important;
  }
}

.dropdown-item-with-icon {
  display: flex !important;
  justify-content: space-between;

  &:hover .dropdown-item__icon {
    color: inherit;
  }
}

.dropdown-item__icon {
  color: var(--pneumatic-color-black72);
}

.dropdpwon-item-toggle {
  width: 100%;
}

button.dropdown-return-to {
  overflow: visible;
}

button.dropdown-resume {
  color: var(--pneumatic-color-success);
}

.dropdown-item-with-subtitle {
  display: flex !important;
  align-items: center;
}

.title {
  margin-top: 0.4rem;
  margin-bottom: 3.2rem;

  @media (--mobile) {
    margin-top: 0.2rem;
  }
}

.user-filter-option {
  display: flex;
}

.user-filter-option_title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-filter-option_avatar {
  margin-right: 0.8rem;
}

.card-multiple-tasks-title {
  width: fit-content;
}

.empty-list-placeholder-container {
  margin: 1.6rem auto;
}

.run-workflow-card__icon {
  position: absolute;
  right: 3.2rem;
  bottom: 3.2rem;
}
