.return-to__container {
  position: relative;
  display: flex;
  padding-right: 4rem;
  margin-left: -0.4rem;

  .return-to__dropdown-container {
    width: 100%;
    margin: 4px;
  }
}

.return-to__option {
  width: 100%;

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    span {
      /* stylelint-disable-next-line declaration-no-important */
      display: inline !important;
    }
  }
}

.return-to__add-return {
  margin: 0.2rem 0.4rem 0;
}
