/* stylelint-disable declaration-no-important */
.container {
  margin: 0 auto;
  max-width: 86.4rem;
}

.search {
  position: relative;
  margin-bottom: 3.2rem;
  width: 100%;
}

.search__icon {
  position: absolute;
  top: 50%;
  margin-left: 1.6rem;
  color: var(--pneumatic-color-black72);
  transform: translateY(-50%);
}

.search-field {
  margin-bottom: 3.2rem;
}

.search-field__input {
  padding-left: 4.8rem !important;
  background-color: var(----background-color);
}

.cards {
  width: 100%;
}

.card-wrapper:not(:last-child) {
  margin-bottom: 0.8rem;
}

.card {
  position: relative;
  padding: 3.2rem 16rem 3.2rem 3.2rem;
  display: flex;
  min-height: 10.4rem;
  color: var(--pneumatic-color-black100);
  background-color: white;
  border-radius: 2.4rem;
  align-items: center;
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 0.8rem 2.4rem var(--pneumatic-color-black95);
  }

  @media (--mobile) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.card-aside {
  position: absolute;
  top: 3.2rem;
  right: 3.2rem;
  display: flex;
  height: 4rem;
  align-items: center;
}

.card-admin {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.6rem;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @media (--mobile) {
    top: calc(100% - 4.8rem);
    right: 1.6rem;
  }
}

.card-admin__switch {
  margin-left: 0.8rem;
}

.card-more-container {
  margin-left: 1.6rem;
}

.card-more {
  cursor: pointer;
  color: var(--pneumatic-color-black16);
  transition: color 0.1s ease-in-out;

  &.card-more_active,
  &:hover {
    color: var(--pneumatic-color-link-hover);
  }
}

.card-header {
  position: relative;
  margin: 0;
}

.card-subheader {
  margin: 0;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: var(--pneumatic-color-black48);
}

.card-avatar {
  margin-right: 1.6rem;

  @media (--mobile) {
    margin-right: 0;
    margin-bottom: 1.6rem;
  }
}

.card-badge {
  margin: 0;
  margin-right: 4rem;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.6rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--pneumatic-color-black32);
}

.card-menu-icon {
  color: var(--pneumatic-color-black72);
}

.invite-button {
  all: unset;
  margin-bottom: 0.8rem;
  display: flex;
  width: 100%;
  height: 10.4rem;
  color: var(--pneumatic-color-link-dark);
  background: white;
  border-radius: 2.4rem;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: var(--pneumatic-color-link-hover);
    box-shadow: 0 0.8rem 2.4rem var(--pneumatic-color-black95);
  }

  @media (--mobile) {
    margin-left: 0;
  }
}

.invite-button__icon {
  margin-right: 0.8rem;
}

.buttons-row {
  display: flex;
  gap: 0.8rem;
}
