@keyframes brighten {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.72;
  }
}

.container {
  position: fixed;
  top: 16px;
  right: 79px;
  bottom: 16px;
  left: 79px;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  @media (--mobile) and (orientation: portrait) {
    top: 64px;
    right: 8px;
    bottom: 8px;
    left: 8px;
  }
}

.image-container {
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

.image {
  max-height: 100%;
  margin: 0 auto;
  pointer-events: all;
}

.image.image_disable-zoom {
  cursor: default;
}

.close {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 2000;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1990;
  background-color: var(--pneumatic-color-black72);
  opacity: 0.72;
  animation: brighten 150ms ease-out;
}
