.circ-progress-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;

  .bg,
  .progress {
    transform: rotate(108deg);
    transform-origin: center;
  }

  .text {
    position: absolute;
    font-family: 'Abhaya Libre', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
    color: #b9b9b8;
    text-align: center;
  }
}
