.tenant {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
  background-color: white;
  border-radius: 24px;
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 8px 24px rgb(98 98 95 / 8%);
  }

  @media (--mobile) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-right: 16px;
    background-color: #62625f;
    border-radius: 28px;

    @media (--mobile) {
      margin-bottom: 16px;
    }
  }

  &__dropdown {
    margin-left: 18px;

    @media (--mobile) {
      position: absolute;
      top: 42px;
      right: 32px;
    }
  }

  &__more path {
    fill: #dcdcdb;
  }

  &__user {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  &__name {
    /* stylelint-disable-next-line value-no-vendor-prefix */
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    color: var(--pneumatic-color-black100);
    cursor: pointer;
    transition: color 0.1s ease-in-out;
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-box-orient: vertical;

    @media (--mobile) {
      -webkit-line-clamp: 2;
      line-clamp: 2;
    }

    &:hover {
      color: var(--pneumatic-color-link-hover);
    }
  }

  &__date {
    margin: 0;
    font-size: 13px;
    line-height: 16px;
    color: var(--pneumatic-color-black48);
  }

  &__info {
    display: flex;
    align-items: center;
  }
}
