/* stylelint-disable declaration-no-important */
.top-wrapper {
  position: sticky;
  z-index: 1030;
  top: 0;

  @media (--mobile) {
    position: unset;
  }
}

.top-wrapper--workflows-layout {
  left: 0;

  @media (--mobile) {
    position: sticky;
    top: unset;
    left: 0;
    margin-bottom: 3.2rem;
  }
}

.top-bar {
  display: flex;
  width: 100%;
  height: 2.4rem;
  font-size: 1.3rem;
  line-height: 1.6rem;
  text-align: center;
  white-space: pre-line;
  color: var(--pneumatic-color-white);
  background: var(--pneumatic-color-black72);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @media (--mobile) {
    height: 3.2rem;
  }
}

.top-bar__supermode {
  color: var(--pneumatic-color-white);
  background-color: var(--pneumatic-color-notification4);

  span {
    margin: 0 0.8rem;
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--pneumatic-color-white);
    border-radius: 50%;
  }

  &__free {
    background: var(--pneumatic-color-notification3);
  }

  &__trial {
    background: var(--pneumatic-color-notification1);
  }

  &__premium {
    background: var(--pneumatic-color-violet);
  }
}

.top-bar__exit-button {
  all: unset;
  color: var(--pneumatic-color-link);
  transition: color 0.1s ease-in-out;

  &:hover {
    color: var(--pneumatic-color-link-hover);
  }
}

.paywall-free {
  animation: showPaywall 0s 2s forwards;
}

.paywall-btn {
  all: unset;
  color: var(--pneumatic-color-link);
}

.navbar {
  backdrop-filter: blur(0.4rem);
  padding: 3.2rem 3.2rem 3.2rem 10.4rem !important;
  display: flex;
  height: auto;
  background: var(--navbar-background-color);
  align-items: center;
  flex-flow: row nowrap !important;
  transition: padding-left 0.2s ease-out;

  @media (--mobile) {
    padding: 0 !important;
    flex-wrap: wrap !important;
  }
}

.navbar--workflows-table {
  padding-left: 3.2rem !important;

  @media (--mobile) {
    padding-left: 0 !important;
  }
}

.navbar--workflows-grid {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.navbar-left {
  display: flex;
  align-items: center;
  width: auto;
  min-width: 11rem;
  min-height: 4rem;

  @media (--mobile) {
    margin-top: 3rem;
    padding: 0 1.5rem;
    width: 100%;
    order: 2;
  }
}

.navbar-right {
  margin-left: auto;
  display: flex;
  width: auto;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  min-height: 4rem;
  text-align: right;
  white-space: nowrap;
  align-self: flex-start;

  @media (--mobile) {
    margin-top: 1.6rem;
    padding: 0 1.6rem 0 6.4rem;
    width: 100% !important;
    max-width: 100%;
    height: 6.4rem;
    order: 1;
  }

  img {
    width: 3.2rem !important;
    height: 3.2rem !important;
  }
}

.navbar-right__search-opened-on-mobile {
  .user-avatar,
  .notifications {
    @media (--mobile) {
      display: none !important;
    }
  }
}

.search {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.search_desktop {
  margin-left: 1rem;

  @media (--desktop) {
    display: flex;
  }

  @media (--mobile) {
    display: none;
  }
}

.search_mobile {
  @media (--desktop) {
    display: none;
  }

  @media (--mobile) {
    display: flex;
  }
}

.search_mobile-opened {
  margin: 0 1.5rem 0 1rem;
}

.search__inner {
  width: 100%;
  max-width: 19.2rem;
  transition: all 0.5s ease;

  @media (--mobile) {
    max-width: 100%;
  }
}

.search__button {
  background-color: transparent;
  border: 0;
}

.search__clear {
  position: absolute;
  top: 0;
  right: 0.5rem;
  bottom: 0;
  background-color: transparent;
  border: 0;
}

.search__clear-icon {
  width: 1.6rem;
}

.search__input {
  width: 100%;
  background: var(--pneumatic-color-black4);
}

.notifications {
  margin: 0 1.6rem;
}

.notifications-button {
  position: relative;
  padding: 0;
  color: var(--default-placeholder-color);
  background: transparent;
  border: 0;
  border-radius: 50%;

  &:hover {
    color: var(--pneumatic-color-link-hover);
  }
}

.notification_counter_container {
  position: absolute;
  z-index: 1;
  bottom: 0.8rem;
  display: flex;
  width: 2.9rem;
  justify-content: flex-end;
}

.notification_counter_container__counter {
  padding: 0.2rem 0.4rem;
  min-width: 2rem;
  max-width: 2.9rem;
  height: 2rem;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.6rem;
  color: var(--pneumatic-color-white);
  background: var(--pneumatic-color-warning);
  border-radius: 1.2rem;
}

.profile-dropdown {
  display: flex;
}

.profile-button {
  all: unset;

  &:focus-visible {
    outline: 0.1rem solid var(--pneumatic-color-link-hover) !important;
  }
}
