/* stylelint-disable declaration-no-important */
.navbar-left-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  @media (--mobile) {
    width: 100%;
    justify-content: center;
    flex-flow: column nowrap;
  }
}

.workflows-main-table {
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 7.1rem;
  overflow: scroll;
  transition: margin-left 0.2s ease-out;

  @media (--mobile) {
    margin: 0 !important;
  }
}
.workflows-main-grid {
  transition: margin-left 0.2s ease-out;

  @media (--mobile) {
    margin: 0 !important;
  }
}
.filters {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem;

  @media (--mobile) {
    flex-wrap: unset;
  }

  > * {
    max-width: 52.4rem;
  }

  button {
    white-space: nowrap;
  }
}

.view-switch-tab {
  padding: 0.6rem 1.6rem;
}

.user {
  display: flex;
  align-items: center;
}

.user-avatar {
  flex-shrink: 0;
}

.user-name {
  margin: 0 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
