/* stylelint-disable declaration-no-important */
.navbar-left-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  @media (--mobile) {
    width: 100%;
    justify-content: center;
    flex-flow: column nowrap;
  }
}

.workflows-main {
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 7.1rem;
  overflow: scroll;

  @media (--mobile) {
    margin: 0 !important;
  }
}

.filters {
  display: flex;
  width: 100%;
  align-items: center;

  @media (--mobile) {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  .template-filter {
    flex: 1 1 16.9rem;
    width: max(16.9rem, max-content);
    min-width: 9.5rem;
    max-width: min-content;

    @media (--mobile) {
      max-width: 100%;
      flex: 1 1 auto;
    }
  }

  & > *:not(:last-child) {
    margin-right: 0.8rem;

    @media (--mobile) {
      margin-right: 0;
      margin-bottom: 0.8rem;
    }
  }

  button {
    white-space: nowrap;
  }
}
