/* stylelint-disable declaration-no-important */
.navbar-left-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  @media (--mobile) {
    width: 100%;
    justify-content: center;
    flex-flow: column nowrap;
  }
}

.workflows-main-table {
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 7.1rem;
  overflow: scroll;
  transition: margin-left 0.2s ease-out;

  @media (--mobile) {
    margin: 0 !important;
  }
}
.workflows-main-grid {
  transition: margin-left 0.2s ease-out;

  @media (--mobile) {
    margin: 0 !important;
  }
}
.filters {
  display: flex;
  width: 100%;
  align-items: center;

  .template-filter {
    flex: 1 1 16.9rem;
    width: max(16.9rem, max-content);
    min-width: 9.5rem;
    max-width: min-content;

    @media (--mobile) {
      max-width: 100%;
      flex: 1 1 auto;
    }
  }

  & > *:not(:last-child) {
    margin-right: 0.8rem;

    @media (--mobile) {
      margin-right: 0;
      margin-bottom: 0.8rem;
    }
  }

  button {
    white-space: nowrap;
  }
}

.view-switch-tab {
  padding: 6px 16px;
}
/*  move it into a getStarterFilter function (?) */
.user {
  display: flex;
  align-items: center;
}

.user-avatar {
  flex-shrink: 0;
}

.user-name {
  margin: 0 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* /// */
