.badge.specifity {
  display: inline-block;
  max-width: 20ch;
  padding: 1px 8px;
  margin-bottom: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Nunito, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 16px;
  vertical-align: middle;
  color: var(--pneumatic-color-black100);
  text-transform: capitalize;
  white-space: nowrap;
  background: rgb(240 219 195 / 100%);
  border-radius: 4px;
}
