.main-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

@media print {
  /* stylelint-disable declaration-no-important */
  .main-layout {
    height: auto !important;
    overflow: visible !important;
  }
}
