/* stylelint-disable declaration-no-important */

.kick-off {
  position: relative;
  margin-bottom: 1.6rem;
  padding: 3.2rem;
  width: 100%;
  background: var(--pneumatic-color-white);
  border: none;
  border-radius: 2.4rem;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    svg {
      transition: 0.15s ease-in all;
      fill: var(--pneumatic-color-black16);
    }
  }

  .title {
    display: block;
    font-family: 'Abhaya Libre', serif;
    font-size: 2rem;
    font-weight: 800;
    line-height: 2.4rem;
    cursor: pointer;
    color: var(--pneumatic-color-black100);
    transition: 0.15s ease-in color;
  }

  .header:hover {
    .title {
      color: var(--pneumatic-color-link-hover);
    }

    svg {
      fill: var(--pneumatic-color-link-hover);
    }
  }

  .description__short {
    margin-top: 1.6rem;
    line-height: 2rem;
    white-space: pre-line;
    word-break: break-word;
    cursor: pointer;
    color: var(--pneumatic-color-black72);
  }

  .description {
    margin-top: 3.2rem;
    margin-bottom: 1.6rem;
    width: calc(100% - 4rem);
    min-height: 12.8rem;
  }

  .kickoff__hint {
    margin-top: 6.4rem;
    margin-bottom: 3.2rem;
    font-family: Nunito, sans-serif;
    font-size: 1.3rem;
    line-height: 1.6rem;
    text-align: center;
    color: var(--pneumatic-color-black48);
  }
}

.kick-off__subtitle {
  margin-bottom: 1.6rem;
  font-size: 1.1rem;
  font-weight: 800;
  line-height: 1.6rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--pneumatic-color-black32);
}

.kick-off_loading {
  pointer-events: none;
}

.kick-off-input {
  display: flex;

  .kick-off-input__field {
    position: relative;
    flex-grow: 1;
  }

  &:hover {
    /* stylelint-disable-next-line selector-max-specificity */
    .kick-off-input__dropdown .toggle:not(.toggle_active) {
      display: block;
    }
  }

  .kick-off-input__toggle-wrapper {
    margin-left: 1.6rem;
  }

  .kick-off-input__name {
    position: absolute;
    z-index: 1;
    top: -1.2rem;
    left: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: calc(100% - 6.4rem);
    background-color: var(--pneumatic-color-white);
    background-clip: text;

    input {
      padding: 0 0.4rem;
      overflow: hidden;
      box-sizing: border-box;
      max-width: 100%;
      font-family: Nunito, sans-serif;
      font-size: 1.3rem;
      line-height: 1.6rem;
      text-overflow: ellipsis;
      color: var(--pneumatic-color-black100);
      border: none;
      outline: none;

      &::placeholder {
        color: var(--default-placeholder-color);
      }

      &:disabled {
        cursor: text;
        background: var(--pneumatic-color-white);
      }
    }

    .kick-off-input__name-text {
      padding: 0 0.4rem;
      display: inline;
      overflow: hidden;
      box-sizing: border-box;
      max-width: 100%;
      font-family: Nunito, sans-serif;
      font-size: 1.3rem;
      line-height: 1.6rem;
      text-align: center;
      text-overflow: ellipsis;
      color: var(--pneumatic-color-black72);
      background: var(--pneumatic-color-beige);
      border: none;
      outline: none;
    }
  }

  .kick-off-input__name_error {
    & input::placeholder {
      color: var(--pneumatic-color-warning);
    }
  }

  .kick-off-input__name_kickoff {
    background: var(--pneumatic-color-white);
    opacity: 1;

    input {
      &:disabled {
        background: var(--pneumatic-color-white);
        -webkit-text-fill-color: var(--pneumatic-color-black100);
        opacity: 1;
      }
    }
  }

  .kick-off-input__name_process-run {
    background-color: var(--pneumatic-color-beige);
    opacity: 1;

    input {
      &:disabled {
        color: var(--pneumatic-color-black72);
        background: var(--pneumatic-color-beige);
        opacity: 1;
      }
    }
  }

  .kick-off-input__description {
    display: flex;

    /* stylelint-disable-next-line selector-max-compound-selectors */
    input {
      padding: 1.4rem 1.6rem;
      width: 100%;
      font-family: Nunito, sans-serif;
      font-size: 1.5rem;
      line-height: 2rem;
      color: var(--pneumatic-color-black100);
      background: transparent;
      border: 0.1rem solid var(--pneumatic-color-black16);
      border-radius: 0.8rem;
      outline: none;
      transition: 0.15s ease-in border-color;

      /* stylelint-disable-next-line selector-max-compound-selectors */
      &:focus {
        border-color: var(--pneumatic-color-black48);
      }

      /* stylelint-disable-next-line selector-max-compound-selectors */
      &:disabled {
        cursor: text;
        color: var(--pneumatic-color-black32);
        background-color: var(--pneumatic-color-white);
      }

      /* stylelint-disable-next-line selector-max-compound-selectors */
      &::placeholder {
        color: var(--default-placeholder-color);
      }
    }

    textarea {
      padding: 1.4rem 1.6rem;
      width: 100%;
      min-height: 12.8rem;
      font-family: Nunito, sans-serif;
      font-size: 1.5rem;
      line-height: 2rem;
      resize: none;
      color: var(--pneumatic-color-black100);
      background: transparent;
      border: 0.1rem solid var(--pneumatic-color-black16);
      border-radius: 0.8rem;
      outline: none;
      transition: 0.15s ease-in border-color;

      &:focus {
        border-color: var(--pneumatic-color-black48);
      }

      &:disabled {
        cursor: text;
        background-color: var(--pneumatic-color-white);
      }

      &::placeholder {
        color: var(--default-placeholder-color);
      }
    }
  }

  .dropdown-menu {
    padding: 0;
    background: var(--pneumatic-color-beige) !important;
  }

  .dropdown-header {
    padding: 1rem 1.6rem;
  }

  .dropdown-items-wrapper {
    padding: 0.5rem 0;
    background: var(--pneumatic-color-white);
    border-radius: 0.8rem;
  }

  .dropdown-item {
    padding: 0.5rem 1.6rem !important;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    line-height: 2rem;
    outline: none !important;
    transition: none !important;

    &:hover,
    &:active {
      span {
        color: var(--pneumatic-color-link-hover);
      }
    }
  }
}

.kick-off-input__dropdown {
  width: 4rem;
  flex-shrink: 0;

  .dropdown-wrapper {
    all: unset;
    position: relative;
    left: 1.6rem;

    .toggle:not(.toggle_active) {
      display: none;

      @media (--mobile) {
        display: block;
      }
    }
  }

  .toggle {
    display: flex;
  }

  .toggle_active {
    display: block;
  }

  .toggle__icon {
    transition: 0.15s ease-in all;
    fill: var(--pneumatic-color-link);
  }

  .toggle:hover .toggle__icon,
  .toggle_active .toggle__icon {
    fill: var(--pneumatic-color-link-hover);
  }
}

.dropdown-item__delete-text {
  color: var(--pneumatic-color-warning);
}

.with-label {
  margin-top: 2.3rem;

  .kick-off-input__dropdown .dropdown-wrapper {
    top: 1.6rem;
  }
}

.without-label {
  margin-top: 1.6rem;
}

.components {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.components::-webkit-scrollbar {
  display: none;
}

.component-icon-container {
  margin-right: 0.8rem;
  padding: 0;
  display: flex;
  min-width: 4rem;
  height: 4rem;
  cursor: pointer;
  background: var(--pneumatic-color-beige);
  border: none;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  transition: 0.15s ease-in all;

  &:hover {
    background: var(--pneumatic-color-link-hover);

    .component-icon {
      color: var(--pneumatic-color-white);
    }
  }
}

.component-icon {
  color: var(--pneumatic-color-black32);
  transition: 0.15s ease-in all;
}

.tooltip {
  .inner {
    padding: 0.4rem 0.8rem;
    background: var(--pneumatic-color-black72);
    border: none;
    border-radius: 0.8rem;

    p {
      margin-bottom: 0;
      display: block;
      font-family: Nunito, sans-serif;
      font-size: 1.3rem;
      line-height: 1.6rem;
      text-align: center;
      color: var(--pneumatic-color-beige);
    }

    span,
    b {
      display: block;
    }
  }

  .custom-arrow {
    &::after,
    &::before {
      top: 0;
      width: 1.2rem;
      height: 0.4rem;
      background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iNCIgdmlld0JveD0iMCAwIDEyIDQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xMiAwSDZWNEM2IDEuNzkwODYgOC42ODYyOSAwIDEyIDBaIiBmaWxsPSIjNjI2MjVGIi8+CjxwYXRoIGQ9Ik0wIDBINlY0QzYgMS43OTA4NiAzLjMxMzcxIDAgMCAwWiIgZmlsbD0iIzYyNjI1RiIvPgo8L3N2Zz4K');
      border: none !important;
    }
  }
}

.label-replacement-class-name {
  padding: 1.4rem 1.6rem;
  width: 100%;
  font-family: Nunito, sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--default-placeholder-color);
  border: 0.1rem solid var(--pneumatic-color-black16);
  border-radius: 0.8rem;
  outline: none;
  transition: 0.15s ease-in border-color;
}

.share-form {
  margin: 3.2rem -3.2rem -3.2rem;
}

/* Edit output name button */

.kick-off-edit-name {
  all: unset;
  padding-right: 0.4rem;
  color: var(--pneumatic-color-link);
  background-color: var(--pneumatic-color-white);
  transition: color 0.1s ease-in-out;

  &:hover {
    color: var(--pneumatic-color-link-hover);
  }
}

.kick-off-required-sign {
  position: relative;
  left: -0.3rem;
  display: inline-block;
  width: 0.68rem;
  height: 100%;
  color: var(--pneumatic-color-warning);
  background-color: var(--pneumatic-color-white);

  &::after {
    content: '*';
  }
}

.kick-off-input__name_process-run {
  .kick-off-required-sign {
    background-color: var(--pneumatic-color-beige);
  }
}

.kick-off-required-sign + .kick-off-edit-name {
  position: relative;
  left: -0.3rem;
}

.workflow-name-field-container {
  margin-top: 3.2rem;
}

.section-title {
  margin-bottom: 0.8rem;
  font-weight: bold;
}

.workflow-name-field {
  margin-bottom: 1.6rem;
}
