/* stylelint-disable selector-pseudo-class-no-unknown, selector-max-compound-selectors, declaration-no-important */
.popup-body__no-events {
  font-family: var(--pneumatic-font-serif);
  font-size: 2rem;
  font-weight: 800;
  line-height: 2.4rem;
  text-align: center;
  color: var(--pneumatic-color-black32);
}

.popup-body__close-button {
  margin-bottom: 3.2rem;
  margin-left: auto;
  padding: 0;
  background: none;
  border: none;
}

.close-button__icon {
  color: var(--pneumatic-color-black16);
  transition: color 0.1s ease-in-out;

  &:hover {
    color: var(--pneumatic-color-black32);
  }
}

.popup-body-controls {
  padding-bottom: 3.2rem;
}

.popup-body-controls__inner {
  margin: -0.8rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media (--mobile) {
    align-items: flex-start;
    flex-direction: column;
  }
}

.popup-body-controls-general {
  margin-right: 0.8rem;
  display: flex;
  flex-wrap: wrap;

  @media (--mobile) {
    margin: 0;
    flex-direction: column;
    width: 100%;
  }
}

.popup-body-controls-general__item {
  margin: 0.8rem 0;
}

.popup-body-controls-general__item_beige {
  background: var(--pneumatic-color-beige);
}

.popup-body-controls-general__item:not(:last-child) {
  margin-right: 0.8rem;

  @media (--mobile) {
    margin: 0;
  }
}

.popup-body-controls-right-toggles {
  display: flex;
  gap: 0.8rem;

  @media (--mobile) {
    flex-direction: column;
    width: 100%;

    div {
      margin: 0;
    }
  }
}

.switch-container {
  margin: 0.8rem 0;
  display: flex;
  flex-flow: row;
  align-items: center;

  @media (--mobile) {
    width: 100%;
  }
}

.switch-container__label {
  @mixin font-text;

  font-size: 1.1rem;
  font-weight: 800;
  line-height: 1.5rem;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--pneumatic-color-black100);
}

.switch-container__button {
  margin-left: 0.8rem;

  @media (--mobile) {
    margin-left: auto;
  }
}

.popup-body-avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;

  @media (--mobile) {
    width: 3.2rem;
    height: 3.2rem;
  }
}

.process-log-item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.comment-field {
  margin-bottom: 3.2rem;
  padding: 0;
}
