/* stylelint-disable declaration-no-important */

.header {
  margin-bottom: 3.2rem;
  padding: 0;
  display: block;
  text-align: center;
}

.avatar {
  margin-bottom: 3.2rem;
  display: flex;
  justify-content: center;
}

.profile-form {
  padding: 8rem;
  background: var(--pneumatic-color-white);
  border-radius: 2.4rem;
  align-self: auto;

  @media (--mobile) {
    padding: 8rem 3.2rem;
  }
}

.fields-group {
  margin-bottom: 3.2rem;
}

.fields-group__title {
  margin-bottom: 1.6rem;
}

.field:not(:last-child) {
  margin-bottom: 0.8rem;
}

.submit-button {
  width: 100%;
}

.avatar-controller {
  margin-bottom: 3.2rem;
}

.change-pass {
  display: flex;
  color: var(--pneumatic-color-link-dark);
  transition: all 0.2s;

  &:hover {
    color: var(--pneumatic-color-link-hover);
  }

  svg {
    margin-right: 0.8rem;
  }

  p {
    margin: 0;
  }
}

.dates-row {
  display: flex;
  gap: 1.6rem;
}

.dates-row > * {
  flex: 1;
  min-width: 0;
}

.selected-users {
  margin-top: 0.8rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.manager-section {
  display: flex;
  flex-direction: column;
}

.manager-card {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.manager-card__info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.manager-card__details {
  display: flex;
  flex-direction: column;
}

.manager-card__header {
  position: relative;
  margin: 0;
}

.manager-card__subheader {
  margin: 0;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: var(--pneumatic-color-black48);
}

.manager-card__actions {
  margin-left: 48px;
  display: flex;
  align-items: center;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}

.manager-card__link {
  cursor: pointer;
  color: var(--orange);
}

.manager-card__link:hover {
  text-decoration: underline;
}

.manager-card__separator {
  margin: 0 4px;
  color: var(--orange);
}

.manager-card__edit-btn {
  margin-top: 16px;
}
