.container {
  display: flex;
  max-width: 1088px;
  margin: 0 auto;

  @media (--mobile) {
    flex-direction: column;
    justify-content: center;
  }

  @media (width >= 1600px) {
    max-width: 1312px;
  }
}

.common {
  flex-shrink: 0;
  width: 272px;
  margin-right: 64px;

  @media (--mobile) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 32px;
  }

  @media (width >= 1600px) {
    width: 384px;
  }
}

.content {
  flex-grow: 1;
}
