.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--pneumatic-color-black48);
}

.icon {
  width: 12rem;
  height: 12rem;

  @media (--mobile) {
    width: 8rem;
    height: 8rem;
  }
}

.title {
  margin: 1.6rem 0 0;
  max-width: 41.6rem;
  text-align: center;
}

.description {
  @mixin text-base;

  margin: 0.8rem 0 0;
  max-width: 41.6rem;
  text-align: center;
}

.footer {
  margin-top: 1.6rem;
}
