.edit-button-wrapper {
  white-space: nowrap;
}

.edit-button {
  position: relative;
  left: 8px;
  cursor: pointer;
  color: var(--pneumatic-color-link);
  transition: color 0.1s ease-in-out;

  &:hover {
    color: var(--pneumatic-color-link-hover);
  }
}

.text {
  padding-bottom: 1px;
  display: flex;
  white-space: pre-wrap;
  word-break: break-word;
  svg {
    display: inline-block;
  }
}

.text_error,
.form_error .textarea {
  color: var(--pneumatic-color-red);
}

.error-message {
  margin-top: 0.4rem;
  font-family: Nunito, sans-serif;
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: var(--pneumatic-color-red);
}

.textarea {
  padding: 0;
  display: block;
  width: 100%;
  font-weight: inherit;
  letter-spacing: inherit;
  resize: none;
  background-color: transparent;
  border: 0;
  outline: none;
}
