.step {
  overflow: hidden;
  text-overflow: ellipsis;

  @mixin text-overflow;
}

.multiple-tasks {
  width: fit-content;
}

.tooltip {
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
}
