/* stylelint-disable
    selector-max-specificity,
    max-nesting-depth,selector-pseudo-class-no-unknown,
    declaration-no-important,
    selector-max-compound-selectors
*/
/* .conditions {
  Add styles when multiple conditions will be enabled
} */

.condition {
  margin-bottom: 0.8rem;
}

.paywall-text {
  margin: 0;
  padding-right: 4rem;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  color: var(--pneumatic-color-black32);
}

.paywall-text__upgrade {
  all: unset;
  color: var(--pneumatic-color-link);
  transition: color 0.1s ease-in-out;

  &:hover {
    color: var(--pneumatic-color-link-hover);
  }
}

.condition-rule {
  position: relative;
}

.condition-rule__settings {
  margin-bottom: 0.8rem;
}

.condition-rule__settings-inner {
  position: relative;
  margin: -0.4rem;
  padding-right: 4rem;
  display: flex;
  flex-wrap: wrap;

  &.condition-rule__settings_disabled::before {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 4rem;
    left: 0;
    bottom: 0;
    pointer-events: none;
    content: '';
    background: var(--pneumatic-color-white);
    opacity: 0.68;
  }

  .condition-rule__setting {
    margin: 0.4rem;

    @media (max-width: 1000px) {
      width: 100%;
    }
  }

  :global {
    .react-select .react-select__control {
      min-height: 4rem;
    }

    .react-datepicker-wrapper {
      .react-datepicker__input-container {
        input {
          padding: 1.4rem 5rem 1.4rem 1.6rem !important;
          width: 100% !important;
          height: 4rem;
          font-family: Nunito, sans-serif !important;
          font-size: 1.5rem !important;
          line-height: 2rem !important;
          color: var(--pneumatic-color-black100) !important;
          background: var(--pneumatic-color-white) !important;
          border: 0.1rem solid var(--pneumatic-color-black16) !important;
          border-radius: 0.8rem !important;
          outline: none !important;
          transition: 0.15s ease-in border-color !important;

          &:focus {
            border-color: var(--pneumatic-color-black48) !important;
          }

          &::placeholder {
            color: var(--default-placeholder-color) !important;
          }
        }
      }
    }
  }
}

.condition-rule__field {
  width: 49.1%;

  @media (max-width: 1150px) {
    width: 100%;
  }
}

.condition-rule__operator {
  width: 24%;

  @media (max-width: 1150px) {
    width: calc(50% - 0.8rem);
  }
}

.condition-rule__value {
  flex-basis: 0;
  flex-grow: 1;
}

.condition-rule__logic-operation {
  margin-bottom: 0.8rem;
  width: 10rem;
}

.select {
  display: inline-block;
  background: var(--pneumatic-color-beige);
}

.select-toggle {
  width: auto;
  font-weight: normal;
  text-transform: uppercase;
}

.text-field {
  margin: 0;
  width: 100%;

  input {
    height: 4rem;
  }
}

.rich-label {
  overflow: hidden;
  text-overflow: ellipsis;

  div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    span {
      display: inline !important;
    }
  }
}

.variable-title {
  font-weight: bold;
}
.variable-richsubtitle {
  color: var(--pneumatic-color-black48);
}
