/* stylelint-disable declaration-no-important */

.field + .field {
  margin-top: 0.8rem;
}

.change-pass {
  &__header {
    margin-bottom: 1.6rem;
  }

  &__title {
    font-size: 2rem;
  }

  &__footer {
    margin: -0.8rem;
    margin-top: 2.4rem;
    display: flex;

    button {
      margin: 0.8rem;
    }
  }
}
