.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 32px;
  background: var(--pneumatic-color-black4);
}

.logo {
  width: 170px;
  height: 48px;

  img {
    max-width: 100%;
  }
}

.copyright {
  font-size: 15px;
  line-height: 20px;
  color: var(--pneumatic-color-black32);
}

.header {
  margin-top: 32px;
  margin-bottom: 0;
  font-family: serif;
  font-weight: 800;
  color: var(--pneumatic-color-black100);
}

.text {
  margin-top: 16px;
  font-size: 15px;
  line-height: 20px;
  color: var(--pneumatic-color-black100);
  text-align: center;
}

.error-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 16px;
}

.back-button {
  width: 209px;
  margin-top: 32px;
}

.copyright__link {
  color: var(--pneumatic-color-link);
}
