.modal__form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.modal__dropdown--required p::after {
  content: '*';
  color: var(--pneumatic-color-warning);
}

.modal__option--selected {
  color: var(--pneumatic-color-black32);
}

.modal__password-field {
  position: relative;
}

.modal__copy-btn {
  position: absolute;
  right: 1.6rem;
  bottom: 1.6rem;
  color: var(--pneumatic-color-link);

  @mixin text-small bold;

  &:hover {
    color: var(--pneumatic-color-link-hover);
  }
}
