.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  margin-top: -16px;
}

.inner-wrapper {
  z-index: 1;
  padding: 8px;
  content: '';
  background: var(--background-color);
  border-radius: 30px;
}

.add-entity-button {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  color: var(--pneumatic-color-link);
  background-color: white;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 8px 8px rgb(98 98 95 / 8%);
  transition: all 0.1s ease-in-out;

  &:hover {
    color: var(--pneumatic-color-link-hover);
  }
}

.entities {
  display: flex;
  align-items: center;
  padding: 8px 4px;
  background-color: white;
  border-radius: 16px;
}

.entities-close-button {
  display: flex;
  padding: 0;
  margin: 0 4px;
  color: var(--pneumatic-color-link);
  background-color: transparent;
  border: 0;
  transition: all 0.1s ease-in-out;

  &:hover {
    color: var(--pneumatic-color-link-hover);
  }
}

.entity {
  padding: 0;
  margin: 0 4px;
  font-size: 13px;
  font-weight: bold;
  color: var(--pneumatic-color-black72);
  background-color: transparent;
  border: 0;
  transition: all 0.1s ease-in-out;

  &:hover {
    color: var(--pneumatic-color-link-hover);
  }
}
