.container {
  display: flex;
  flex-flow: row;
}

.body {
  max-width: calc(100% - 8.8rem);
  padding-right: 0.8rem;

  @media (--mobile) {
    max-width: calc(100% - 4.2rem);
  }
}

.avatar {
  margin-right: 1.6rem;

  @media (--mobile) {
    margin-right: 0.8rem;
  }
}

.title {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 6.4rem;
  margin: 0 -0.8rem 0 0;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--pneumatic-color-black100);
}

.title__text {
  margin-right: 0.8rem;
}

.title__icon {
  margin-right: 0.8rem;
  font-size: 0;
  color: var(--pneumatic-color-black32);
}

.title__date {
  margin-right: 0.8rem;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.6rem;
  color: var(--pneumatic-color-black48);

  @media (--mobile) {
    display: block;
  }
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--pneumatic-color-black72);
  overflow-wrap: anywhere;
  white-space: pre-wrap;

  @mixin text-base bold;
}

.outputs-container {
  margin-top: 0.8rem;
}
