.container {
  display: flex;
  flex-flow: row;
}

.body {
  padding-right: 0.8rem;
  max-width: calc(100% - 8.8rem);

  @media (--mobile) {
    max-width: calc(100% - 4.2rem);
  }
}

.avatar {
  margin-right: 1.6rem;

  @media (--mobile) {
    margin-right: 0.8rem;
  }
}

.title {
  margin: 0 -0.8rem 0 0;
  padding-right: 6.4rem;
  display: inline-flex;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--pneumatic-color-black100);
  flex-wrap: wrap;
  align-items: center;
}

.title__text {
  margin-right: 0.8rem;
}

.title__icon {
  margin-right: 0.8rem;
  font-size: 0;
  color: var(--pneumatic-color-black32);
}

.title__date {
  margin-right: 0.8rem;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.6rem;
  color: var(--pneumatic-color-black48);

  @media (--mobile) {
    display: block;
  }
}

.text {
  overflow: hidden;
  white-space: pre-wrap;
  text-overflow: ellipsis;
  word-break: break-word;
  color: var(--pneumatic-color-black72);

  @mixin text-base bold;
}

.outputs-container {
  margin-top: 0.8rem;
}
