.card-container {
  display: flex;
  flex-flow: column;
  padding: 1.6rem;
  overflow: hidden;
  background: var(--pneumatic-color-beige);
  border: none;
  border-radius: 1.6rem;
  transition: background 0.1s ease-in-out;
}

.card__title {
  @mixin h6;

  font-weight: 800;
  color: var(--pneumatic-color-black100);
  overflow-wrap: anywhere;
}

.card__footer {
  @mixin text-small;

  margin-top: auto;
  color: var(--pneumatic-color-black48);
}
