/* stylelint-disable selector-pseudo-class-no-unknown */
/* stylelint-disable declaration-no-important */
.dropdown {
  margin: 1rem 0;

  --dropdown-list-control-min-height: 2.5rem;
}

.dropdown-user {
  display: flex;
  align-items: center;
  max-width: 100%;
}

.dropdown-user__avatar {
  margin-right: 0.5rem;
}

.dropdown-user__name {
  overflow: hidden;
  min-width: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.viewers-list {
  margin-top: 1rem;
}
