/* stylelint-disable selector-pseudo-class-no-unknown */
/* stylelint-disable declaration-no-important */
.dropdown {
  margin: 16px 0;

  :global .react-select__control {
    min-height: 40px !important;
  }
}

.dropdown-user {
  display: flex;
  align-items: center;
  max-width: 100%;
}

.dropdown-user__avatar {
  margin-right: 8px;
}

.dropdown-user__name {
  overflow: hidden;
  min-width: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.viewers-list {
  margin-top: 16px;
}