.invite-user-option {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: var(--pneumatic-color-black100);

  &__icon {
    margin-right: 0.8rem;
  }
}

.user-option {
  overflow: hidden;
  width: 100%;
  min-width: 0;

  &__content {
    display: flex;
    overflow: hidden;
    align-items: center;
    width: 100%;
    min-width: 0;
  }

  &__label {
    margin: 0;
    overflow: hidden;
    min-width: 0;
    max-width: 24rem;
    white-space: nowrap;
    text-overflow: ellipsis;

    &_invited {
      color: var(--pneumatic-color-link-hover);
    }
  }

  &__avatar {
    margin-right: 0.8rem;
    flex-shrink: 0;
  }

  &__checkbox,
  &__checkbox-label,
  &__checkbox-title {
    overflow: hidden;
    width: 100%;
    min-width: 0;
  }
}
