/* stylelint-disable declaration-no-important */
.button {
  all: unset;
  display: flex;
  font-size: 13px;
  font-weight: bold;
  line-height: 16px;
  color: var(--pneumatic-color-black72);
  transition: color 0.1s ease-in-out;
  align-items: center;

  &:hover {
    color: var(--pneumatic-color-link-hover);
  }
}

.button_opened {
  pointer-events: none;

  .button__expand-icon {
    transform: rotate(180deg);
  }
}

.button__expand-icon {
  margin-left: 4px;
  color: var(--pneumatic-color-black32);
  transition: all 0.1s ease-in-out;
}

.variable-list-item {
  margin: 0;
  padding: 6px 12px;
  display: block;
  overflow: hidden;
  max-width: 100%;
  font-family: Nunito, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  color: #262522;

  &:hover {
    background-color: #fdf7ee;
    border-radius: 0.25rem;
  }
}

.variable-list__popper {
  z-index: 1029 !important;
}

.variable-list__inner {
  padding: 4px !important;
  width: 304px !important;
  max-width: 304px !important;
  border: none !important;
  border-radius: 8px !important;
  box-shadow: 0 8px 16px rgba(98, 98, 95, 0.08);
}

.variable-list-item__name {
  font-size: 15px;
  font-weight: 800;
  line-height: 20px;

  @mixin text-overflow 1;
}

.variable-list-item__task-name {
  color: var(--pneumatic-color-black48);

  div {
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    span {
      display: inline !important;
    }
  }
}

.variable-list__scrollbar {
  margin-right: 0 !important;
  padding-right: 0 !important;
  max-height: 352px !important;
}
