/* stylelint-disable selector-max-specificity */

/* Radio */

.radio {
  margin-bottom: 0;
  padding-left: 2.8rem;
  display: inline-flex;
}

.radio__input {
  position: absolute;
  width: 0;
  height: 0;
  /* stylelint-disable-next-line declaration-no-important */
  opacity: 0 !important;
  appearance: none;
}

.radio__box {
  position: absolute;
  margin-left: -2.8rem;
  box-sizing: border-box;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: 0.1rem solid var(--pneumatic-color-black16);
  border-radius: 0.4rem;
  border-radius: 50%;

  &::after {
    position: absolute;
    top: 0.7rem;
    right: 0.7rem;
    left: 0.7rem;
    bottom: 0.7rem;
    display: block;
    width: 0.6rem;
    height: 0.6rem;
    content: '';
    background-color: var(--pneumatic-color-black100);
    border-radius: 50%;
    opacity: 0;
  }
}

.radio__title {
  font-size: 1.5rem;
  line-height: 2rem;
}

.radio:hover .radio__box,
.radio__input:focus-visible + .radio__box {
  border: 0.1rem solid var(--pneumatic-color-black48);
}

/* Radio checked */

.radio__input:checked + .radio__box,
.select-menu__radio--checked .radio__box {
  background-color: var(--pneumatic-color-link);
  border: 0;

  &::after {
    opacity: 1;
  }
}

.radio:hover .radio__input:checked + .radio__box,
.radio__input:checked:focus-visible + .radio__box {
  background-color: var(--pneumatic-color-link-hover);

  &::after {
    background-color: var(--pneumatic-color-white);
    opacity: 1;
  }
}
