/* stylelint-disable selector-max-compound-selectors */
/* stylelint-disable declaration-no-important */
.team-popup__loading {
  [class*='modal-content'] {
    min-height: 36.8rem;
  }
}

.message-text {
  margin: 0;
  font-size: 1.5rem;
  line-height: 2rem;
}

.message-text__emphasis {
  font-weight: bold;
}

.dropdown {
  margin-top: 1.6rem;

  :global {
    .react-select .react-select__control {
      min-height: 4rem !important;
    }
  }
}

.popup-buttons {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;

  .popup-button_submit {
    position: relative !important;
    margin-right: 1.6rem;
    display: inline-flex;
    width: 11.4rem;
    height: 4rem;
    justify-content: center !important;
    align-items: center !important;
  }

  @media (--mobile) {
    flex-direction: column;
    .popup-button_submit {
      margin: 0 0 1.6rem;
      width: 100%;
    }
  }
}
