.canvas {
  display: flex;
  min-width: 32rem;
  min-height: 24rem;
  gap: 2.4rem;
  color: var(--pneumatic-color-black100);
  align-items: flex-start;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  min-width: 24rem;
  gap: 1.6rem;
}

.content {
  margin: 0;
  min-width: 20rem;
}
