.card-users {
  display: flex;
  align-items: center;
}

.card-user {
  width: 20px;
  height: 20px;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
    vertical-align: unset;
    border-radius: 50%;
    object-fit: cover;
  }
}

.card-users > .card-user:not(:first-child) {
  margin-left: -4px;
}

.card-users button {
  padding: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: transparent;
  border: none;
  flex-shrink: 0;
}

.card-users > button:not(:first-child) {
  margin-left: -4px;
}

.card-users__more {
  margin-left: 8px;
  font-size: 13px;
  line-height: 16px;
  color: #979795;
}
