/* stylelint-disable declaration-no-important */
.container {
  margin-bottom: 3.2rem;
}

.container.is-mb-sm {
  margin-bottom: 1.6rem;
}

.page-title {
  display: inline-flex;
  align-items: center;
}

.tooltip-container {
  margin-left: 0.8rem;
}

.tooltip-icon {
  display: flex;
}

.learn-more {
  display: block;
  text-align: center;
}

.tooltip-content-table-view {
  padding: 0.4rem 0.8rem;
  text-align: center;
}
