/* stylelint-disable declaration-no-important */
.container {
  max-width: 108.8rem;
  margin: 0 auto;
}

.header {
  @mixin details-header;

  .header__config {
    display: flex;
    gap: 0.8rem;
    align-items: center;
  }

  .header__config-btn {
    @mixin details-header-btn;
  }
}

.list {
  padding: 3.2rem 1.6rem;
  margin: 0 -1.6rem;
  background-color: var(--pneumatic-color-white);

  @media (--desktop) {
    padding: 3.2rem;
    margin: initial;
    border-radius: 2.4rem;
  }

  &__item {
    padding: 1.6rem 0;
    border-bottom: 1px solid var(--pneumatic-color-black16);
  }

  &__filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3.2rem;
    border-bottom: 1px solid var(--pneumatic-color-black16);
  }
}

.search {
  position: relative;
  flex: 1;
  margin-right: 2.4rem;

  &__icon {
    position: absolute;
    top: 50%;
    color: var(--pneumatic-color-black72);
    transform: translateY(-50%);
  }

  &-field__input {
    height: 2rem !important;
    padding-left: 2.8rem !important;
    border: none;
  }
}

.test button {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  background-color: transparent;

  p {
    @mixin text-small-extra bold;

    color: #262522;
  }
}

.dropdown__sorting {
  padding: 0;
  margin: 0;
}

.placeholder {
  margin-top: 3.2rem;
}

:global .react-select_controlllll {
  @media (--mobile) {
    span {
      display: none !important;
    }
  }
}
