.dropdown-wrapper {
  display: inline-block;
}

.btn-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  color: var(--pneumatic-color-link);
  cursor: pointer;
  background: var(--pneumatic-color-black100);
  border: none;
  border-radius: 50%;
  transition:
    color 0.1s ease-in-out,
    background-color 0.1s ease-in-out;

  &:not(:disabled):hover,
  &[aria-expanded='true'] {
    color: var(--pneumatic-color-white);
    background: var(--pneumatic-color-link-hover);
  }

  &:disabled {
    opacity: var(--pneumatic-button-opacity);
  }

  span {
    display: inline-block;
    margin: 0.2rem;
  }
}

.dropdown-item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  min-height: 3.2rem;
  padding: 0.4rem 1.2rem;
  color: var(--pneumatic-color-link);
  text-align: right;
  white-space: pre-wrap;
  cursor: pointer;
  background: var(--pneumatic-color-black100);
  border: 0;
  border-radius: 0.4rem;

  &:hover,
  &:focus-visible {
    color: var(--pneumatic-color-white);
    outline: none;
    background: var(--pneumatic-color-black72);
  }

  @media (--mobile) {
    width: 24rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.dropdown-item__header {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
}

.dropdown-item__hint {
  margin: 0;
  font-size: 1.3rem;
  line-height: 1.6rem;
}

.dropdown-menu {
  position: relative;
  padding: 1rem 0.4rem;
  margin-top: 0.8rem;
  overflow: visible;
  color: var(--pneumatic-color-link);
  white-space: pre-wrap;
  background: var(--pneumatic-color-black100);
  border-radius: 0.8rem;

  &::before {
    position: absolute;
    top: -0.4rem;
    right: 1.2rem;
    z-index: -1;
    width: 1.6rem;
    height: 1.6rem;
    content: '';
    background: var(--pneumatic-color-black100);
    transform: rotate(45deg);
  }
}
