/* stylelint-disable declaration-no-important */
.buttons-wrapper {
  display: flex;
  margin: 0 8px 0 0;

  @media (--mobile) {
    width: 100%;
    margin: 0 0 8px;

    > * {
      flex-grow: 1;
    }
  }
}

.navbar-left__content {
  display: flex;
  gap: 8px;
  justify-content: space-between;

  @media (--mobile) {
    flex-flow: column nowrap;
    justify-content: center;
    width: 100%;
  }
}

.return-link {
  & svg {
    transform: translateY(-1px);
  }
}

.sorting-toggle-text {
  margin-right: 4px !important;
}
