/* stylelint-disable declaration-no-important */

.container {
  display: flex;
  flex-flow: row nowrap;
  margin: -4px;

  @media screen and (width <= 1200px) {
    flex-direction: column;
  }
}

.field {
  width: 100%;
  height: 40px !important;
  padding: 13px 15px !important;
  padding-right: 70px !important;
  font-size: 1.5rem !important;
  line-height: 20px !important;
  border-color: #dcdcdb !important;
  border-radius: 8px !important;

  &:focus {
    border-color: #979795 !important;
  }
}

.field_default-value {
  color: var(--pneumatic-color-black32) !important;
}

.field-label {
  position: relative;
  flex-grow: 1;
  margin: 4px;

  span {
    position: absolute;
    top: 0;
    right: 16px;
    bottom: 0;
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 20px;
    color: var(--pneumatic-color-black32);
    text-align: right;
  }
}
