.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: auto;
  background-color: var(--pneumatic-color-link);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: none;
  outline: 0;
}

.fade {
  opacity: 0;
  transition: opacity 0.15s linear;
}

.modal.fade.show {
  opacity: 1;
}

.modal-backdrop.fade.show {
  opacity: 0.7;
}

.modal-dialog {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 67rem;
  padding: 0 1.5rem;
  margin: auto;
  pointer-events: none;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: 100%;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  background-color: var(--pneumatic-color-white);
  border-radius: 3.2rem;
}

.modal-content > form {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 3.2rem 3.2rem 1.6rem;
  border: none;

  .title {
    padding: 4.8rem 4.8rem 0;
    margin-bottom: 0;
    font-family: 'Abhaya Libre', 'Times New Roman', Arial, serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: 2.4rem;
    color: var(--pneumatic-color-black100);
    text-align: left;

    @media (--mobile) {
      padding: 4.8rem 0 0;
    }
  }
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 0 8rem 3.2rem;
  color: var(--pneumatic-color-black72);
  overflow-wrap: anywhere;
  border: none;

  @media (--mobile) {
    padding: 0 3.2rem 3.2rem;
  }
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0 8rem 8rem;
  border: none;

  @media (--mobile) {
    padding: 0 3.2rem 8rem;
  }
}

.close-button {
  position: absolute;
  top: 3.2rem;
  right: 3.2rem;
  color: var(--pneumatic-color-black16);
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: var(--pneumatic-color-link-hover);
  }
}
