.verification-reminder {
  margin: 0;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  color: #979795;

  @media (--mobile) {
    white-space: normal;
  }
}

.verification-reminder__link {
  span {
    cursor: pointer;
    color: #fec336;
  }
}
