.top-nav {
  display: flex;
  justify-content: space-between;

  @media (--mobile) {
    flex-flow: column nowrap;
    justify-content: center;
    width: 100%;
  }

  &__item + &__item {
    margin-left: 0.8rem;

    @media (--mobile) {
      margin: 0;
      margin-top: 0.8rem;
    }
  }
}
