/* stylelint-disable declaration-no-important */

.run-container {
  width: 100%;
}

.date-input-wrapper {
  position: relative;
}

.icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  pointer-events: none;
  color: var(--pneumatic-color-black16);
}
