.extra-field-files-grid {
  position: relative;
  display: flex;
  flex-flow: column;
  width: 100%;
}

.extra-field-files-grid_loading {
  min-height: 3.2rem;
  pointer-events: none;
  opacity: 0.5;
}

.extra-field-files-grid__images-grid {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  gap: 0.8rem;

  &:not(:last-child) {
    margin-bottom: 0.8rem;
  }
}

.extra-field-files-grid__documents-grid {
  display: flex;
  flex-flow: column;

  &:not(:last-child) {
    margin-bottom: 0.8rem;
  }
}

.extra-field-files-document-grid__document-container {
  margin-bottom: 0.8rem;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
}

.extra-field-document {
  margin-right: 1rem;
  overflow: hidden;
  font-family: Nunito, sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  white-space: pre-wrap;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-word;
  cursor: pointer;
  color: #fec336;
  transition: color 0.1s ease-in-out;
}

.document:hover {
  color: #e79a26;
}

.document_edit {
  color: var(--pneumatic-color-link-dark);
}

.extra-field-document__delete-button {
  padding: 0;
  display: flex;
  cursor: pointer;
  background: none;
  border: none;
}

.delete-button {
  cursor: pointer;
  color: var(--pneumatic-color-black16);
  transition: 0.1s ease-in-out fill;

  &:hover {
    color: var(--pneumatic-color-link-hover);
  }
}

.images-list__image-container {
  position: relative;
  display: flex;
  width: 8rem;
  height: 8rem;
  background: white;
  border-radius: 0.8rem;
  justify-content: center;
  align-items: center;
}

.images-list__image-container:last-child {
  margin-right: 0;
}

.extra-field-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.8rem;
}

.extra-field-image__link {
  all: unset;
  width: 8rem;
  height: 8rem;
}

.extra-field-image__delete-button {
  all: unset;
  position: absolute;
  top: -0.6rem;
  right: -0.6rem;
  padding: 0;
  display: flex;
}

.extra-filed-file__upload-button {
  width: 100%;
  height: 100%;
  background: inherit;
  border: none;
}

.extra-field-file__container {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
}

.extra-field-file__ref {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  width: 0.01rem;
  height: 0.01rem;
  opacity: 0;
}

.extra-field-file__ref:focus + * .extra-field-file__input {
  /* stylelint-disable-next-line declaration-no-important */
  border-color: #979795 !important;
}

.extra-field-file__input {
  margin: 0;
  cursor: pointer;
}

.extra-field-file__conteiner--template {
  max-width: calc(100% - 4rem);
  flex-grow: 1;
}

.extra-field-file__input--template {
  position: relative;
  display: inline-flex;
  max-width: 100%;
}

.extra-field-file__input-name--template {
  padding: 0 0.4rem 0 0;
  max-width: calc(100% - 0.5rem);
  line-height: 2rem;
  border: none;
  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: text;
    background: white;
  }
}

.extra-field-file__input-name-error--template::placeholder {
  color: #fc5b67;
}

.extra-field-file__edit-name-button--template {
  /* stylelint-disable-next-line declaration-no-important */
  position: relative !important;
  /* stylelint-disable-next-line declaration-no-important */
  top: -0.2rem !important;
}

.extra-field-file__error-message--template {
  margin-top: 0.4rem;
  margin-bottom: 0;
  display: block;
  font-family: Nunito, sans-serif;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #fc5b67;
}

.extra-field-file__upload-button-conteiner {
  margin: 0;
  padding: 0;
  width: fit-content;
  width: min-content;
  white-space: nowrap;

  .extra-field-file__upload-button--template {
    margin: 0.8rem 0;
    color: var(--pneumatic-color-black100);
    border: var(--pneumatic-color-black100) 0.1rem solid;
    opacity: 1;
  }
}

.extra-field-file__field-name {
  margin-bottom: 0.8rem;
  padding-right: 0.4rem;
  display: inline-block;
}
