name: Build and push a new frontend latest version

on:
  push:
    paths:
      - 'frontend/**'
    branches:
      - 'master'

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PAT }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: "pneumaticworkflow/pneumatic-frontend"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: cloud
          endpoint: "pneumaticworkflow/pneumatic-release-builder"

      - name: Build and push pneumaticworkflow/pneumatic-frontend
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          context: frontend
          file: "frontend/Dockerfile"
          push: true
          tags: "pneumaticworkflow/pneumatic-frontend:latest"
          labels: ${{ steps.meta.outputs.labels }}
