.card {
  @mixin page-card;
}

.card__content {
  @mixin page-card-content;
}

.card__header {
  @mixin page-card-header;
}

.card__title {
  text-decoration: none;
  cursor: pointer;
  color: inherit;

  &:hover {
    color: var(--pneumatic-color-link-hover);
  }

  @mixin page-card-title;
}

.card__more {
  @mixin page-card-more;
}

.card__footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  .card-stats {
    padding-left: 0.4rem;
    font-style: normal;
    color: var(--pneumatic-color-black48);

    @mixin text-small;

    > *:not(:last-child) {
      margin-right: 0.8rem;
    }
  }

  .card-stats--items {
    font-weight: bold;

    @mixin text-small;
  }

  .card-stats--rules {
    color: var(--pneumatic-color-black48);

    @mixin text-small;
  }

  .card-usage {
    padding: 0.8rem 1.2rem;
    color: var(--pneumatic-color-black72);
    border-radius: 0.8rem;

    @mixin text-small;
  }

  .card-usage--not-linked {
    background-color: var(--pneumatic-success-color-light);
  }

  .card-usage--linked {
    background-color: var(--pneumatic-color-beige);
  }
}
